<mat-toolbar class="toolbar flexcontainer">
  <div class="toolbar-block start">
    <button mat-button class="toolbar-menu-item" (click)="onMenuItemClicked('menu')">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span *ngIf="media != mediaType.SMALL" class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <div class="searchbox">
    <mat-form-field floatLabel="never" class="search-form-field">
      <button mat-button *ngIf="!searchItem" matSuffix mat-icon-button aria-label="Search">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
      <mat-label>Search</mat-label>
      <input class="search-input" matInput #search name="search" type="text"
             [ngModel]="searchItem"
             (ngModelChange)="onSearchItemChanged($event)"
             [matAutocomplete]="auto"
             (keyup)="onKeyUp()"
             (click)="onSearchFieldClicked()">
      <button mat-button *ngIf="searchItem" matSuffix mat-icon-button aria-label="Clear"
              (click)="onClearButtonClicked()">
        <mat-icon svgIcon="close_18"></mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of searchOptionsFiltered" [value]="option"
                  (click)="onOptionSelected($event)">
        {{ option }}
      </mat-option>

    </mat-autocomplete>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block end">
    <button *ngIf="media > mediaType.MEDIUM" mat-button class="toolbar-menu-item" [matMenuTriggerFor]="menuSwitcher">
      <mat-icon svgIcon="business" *ngIf="scope === scopeType.WORK"></mat-icon>
      <mat-icon svgIcon="nature" *ngIf="scope === scopeType.FREETIME"></mat-icon>
    </button>
    <mat-menu #menuSwitcher="matMenu">
      <button mat-button class="toolbar-menu-item" (click)="onMenuItemClicked('scope-work')">
        <mat-icon svgIcon="business"></mat-icon>
      </button>
      <button mat-button class="toolbar-menu-item" (click)="onMenuItemClicked('scope-freetime')">
        <mat-icon svgIcon="nature"></mat-icon>
      </button>
    </mat-menu>
    <button mat-button class="toolbar-menu-item right" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="toolbar-expanded" *ngIf="media < mediaType.LARGE">
        <button mat-menu-item *ngIf="scope === scopeType.FREETIME" class="toolbar-menu-item"
                (click)="onMenuItemClicked('scope-work')">
          <mat-icon svgIcon="business"></mat-icon>
          <span>Switch to work</span>
        </button>
        <button mat-menu-item *ngIf="scope === scopeType.WORK" class="toolbar-menu-item"
                (click)="onMenuItemClicked('scope-freetime')">
          <mat-icon svgIcon="nature"></mat-icon>
          <span>Switch to freetime</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onMenuItemClicked('task-list')">
          <mat-icon svgIcon="turned_in_not"></mat-icon>
          <span>Tasks</span>
        </button>
        <button mat-menu-item (click)="onMenuItemClicked('project-list')">
          <mat-icon svgIcon="agenda"></mat-icon>
          <span>Projects</span>
        </button>
        <button mat-menu-item (click)="onMenuItemClicked('tag-list')">
          <mat-icon svgIcon="label_outline"></mat-icon>
          <span>Tags</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onMenuItemClicked('filter-tags')">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span>Filter tags</span>
        </button>
        <button mat-menu-item (click)="onMenuItemClicked('filter-projects')">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span>Filter projects</span>
        </button>
        <button mat-menu-item (click)="onMenuItemClicked('filter-persons')">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span>Filter persons</span>
        </button>
      </div>
      <button mat-menu-item (click)="onMenuItemClicked('clear-filter')">
        <mat-icon svgIcon="layers_clear"></mat-icon>
        <span>Clear filters</span>
      </button>
      <mat-divider *ngIf="media < mediaType.LARGE"></mat-divider>
      <button mat-menu-item (click)="onMenuItemClicked('download')">
        <mat-icon svgIcon="file_download"></mat-icon>
        <span>Export</span>
      </button>
      <button mat-menu-item (click)="onMenuItemClicked('upload')">
        <mat-icon svgIcon="file_upload"></mat-icon>
        <span>Import</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onMenuItemClicked('android-release')">
        <mat-icon svgIcon="android"></mat-icon>
        <span>Download Android App</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onMenuItemClicked('about')">
        <mat-icon svgIcon="blank"></mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
