@import "../../../../../../flex";
@import "../../../../../../theme";

.meeting-minute-item {
  margin-bottom: 5px;

  &:hover .hidden {
    display: inline-block;
  }
}

.full-width {
  width: 100%;
}

.topic {
  color: mat-color($mat-grey, 400);
  text-align: center;

  .left-side {
    text-align: right;
    width: 25px
  }

  .right-side {
    text-align: left;
    width: 25px
  }

  &:hover .hidden {
    display: inline-block;
  }
}

.delete-button {
  height: 14px;
  width: 14px;
  margin-top: -4px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.chat-bubble {
  width: 100%;
}

.due-date {
  width: 675px;
}

.due-date-activation {
  width: 150px;
}

.meetingMinuteItemAspect {
  margin-right: 10px;
}
