@import "../../../../../../flex";
@import "../../../../../../theme";

.meeting-minute-item {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.topic {
  color: mat-color($mat-grey, 400);
  text-align: center;
}

.chat-bubble {
  width: 100%;
}

.due-date {
  width: 675px;
}

.due-date-activation {
  width: 150px;
}

.meetingMinuteItemAspect {
  margin-right: 10px;
}
