<mat-form-field>
  <input matInput  [(ngModel)]="tasklet.dueDate" [matDatepicker]="picker" placeholder="Due date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div>
  <mat-form-field class="wide-box">
          <textarea matInput required name="text" placeholder="Text" matTextareaAutosize matAutosizeMinRows="5"
                    matAutosizeMaxRows="5" [(ngModel)]="tasklet.text"></textarea>
    <button mat-button *ngIf="tasklet.text" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </mat-form-field>
</div>
