<app-timeline-toolbar
  class="fixed"
  [title]="title"
  (searchItemChangedEmitter)="onSearchItemChanged($event)"
  (menuItemClickedEmitter)="onMenuItemClicked($event)"></app-timeline-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav #sidenavStart mode="side" position="start" opened="true" class="sidenav sidenav-start">
    <app-tag-list></app-tag-list>
  </mat-sidenav>

  <mat-sidenav #sidenavEnd mode="side" position="end" opened="true" class="sidenav sidenav-end">
    <app-task-list (menuItemClickedEmitter)="onMenuItemClicked($event)"></app-task-list>
    <mat-divider></mat-divider>
    <app-project-list (menuItemClickedEmitter)="onMenuItemClicked($event)"></app-project-list>
  </mat-sidenav>

  <div class="content">
    <app-tasklet-list></app-tasklet-list>
  </div>

</mat-sidenav-container>

<button mat-fab class="fab" (click)="onMenuItemClicked('add-tasklet')">
  <mat-icon svgIcon="add" class="white-icon"></mat-icon>
</button>
