<app-timeline-toolbar
  class="fixed"
  [title]="title"
  (onSearchItemChangedEmitter)="onSearchItemChanged($event)"
  (onMenuItemClickedEmitter)="onMenuItemClicked($event)"></app-timeline-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav #sidenavStart mode="side" position="start" opened="true" class="sidenav sidenav-start">
  </mat-sidenav>
  <mat-sidenav #sidenavEnd mode="side" position="end" opened="true" class="sidenav sidenav-end">
    <div>
      <button mat-button class="add-task" (click)="onMenuItemClicked('add-task')">
        <mat-icon class="add-task-icon" svgIcon="add"></mat-icon>
        <span>Add new task</span>
      </button>
    </div>
    <app-task-list></app-task-list>
  </mat-sidenav>

  <div class="content">
    <app-tasklet *ngFor="let t of tasklets" [tasklet]="t">
    </app-tasklet>
  </div>

</mat-sidenav-container>

<button mat-fab class="fab" (click)="onMenuItemClicked('add-tasklet')">
  <mat-icon svgIcon="add" class="white-icon"></mat-icon>
</button>
