<div [class]="themeClass">
  <div *ngIf="!isBeforeNow(tasklet.creationDate)">
    <div class="future-tasklet flexcontainer">
      <div class="attachments">
        <div class="attachment-holder" *ngIf="media > mediaType.MEDIUM">
          <div *ngIf="tasklet.creationDate != null" class="side-attached left-attached-without-connector"
               (click)="onTaskletCreationTimeClicked()"
               [matTooltip]=date
               matTooltipPosition="above">
            <span class="left-attached-content"
                  *ngIf="isWithinNextDays(tasklet.creationDate, 7) && !isToday(tasklet.creationDate)">{{ weekDay.slice(0, 3) }},</span>
            <span class="left-attached-content"
                  *ngIf="!isWithinNextDays(tasklet.creationDate, 7)">{{ simpleDate }},</span>
            <span class="left-attached-content">{{ time }}</span>
          </div>
        </div>
      </div>
      <app-future-tasklet-fragment [tasklet]="tasklet" [topic]="topic" [media]="media"
                                   (click)="onTaskletClicked()"></app-future-tasklet-fragment>
    </div>
  </div>
  <div class="card-wrapper" *ngIf="isBeforeNow(tasklet.creationDate)">
    <div class="top-attached" *ngIf="tasklet.type == 'Finishing Time'">
      {{ weekDay }}, {{ date }}
      <div class="top-connection-line"></div>
    </div>
    <mat-card>
      <mat-card-header (click)="onExpansionPanelToggled()">
        <mat-icon mat-card-avatar [svgIcon]=icon class="tasklet-type"></mat-icon>
        <mat-card-title class="topic">{{ topic }}</mat-card-title>
        <mat-card-subtitle *ngIf="project != null">{{ project.name }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="content">
        <mat-accordion class="headers-align" (click)="onTaskletClicked()">
          <span [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></span>
          <mat-expansion-panel [expanded]="expansionPanelOpened" hideToggle>
            <!-- Regular text -->
            <div class="text">
              <mat-list *ngIf="tasklet.description.value != null && tasklet.description.value.length > 0">
                <mat-list-item class="text" *ngFor="let item of tasklet.description.value.split('\n')">{{ item }}
                </mat-list-item>
              </mat-list>
            </div>
            <!-- Meeting minutes -->
            <app-tasklet-meeting-minutes-fragment
              *ngIf="tasklet.type == taskletType.CALL || tasklet.type == taskletType.MEETING"
              [tasklet]="tasklet">
            </app-tasklet-meeting-minutes-fragment>
            <!-- Daily Scrum -->
            <app-tasklet-daily-scrum-fragment
              *ngIf="tasklet.type == taskletType.DAILY_SCRUM"
              [tasklet]="tasklet">
            </app-tasklet-daily-scrum-fragment>
          </mat-expansion-panel>
        </mat-accordion>
        <hr class="delimiter"/>
      </mat-card-content>

      <mat-card-footer>
        <mat-menu #contextMenu="matMenu">
          <button mat-menu-item (click)="onUpdateClicked()">
            Update tasklet
          </button>
          <button mat-menu-item (click)="onTaskletCreationTimeClicked()">
            Update creation time
          </button>
          <button mat-menu-item (click)="onContinueClicked()" *ngIf="isContinuable()">
            Continue tasklet
          </button>
          <button mat-menu-item (click)="onTemplateClicked()" *ngIf="isTemplatable()">
            Template tasklet
          </button>
        </mat-menu>
        <div class="flexcontainer">
          <div class="attachment-holder" *ngIf="media > mediaType.MEDIUM">
            <div *ngIf="tasklet.creationDate != null" class="side-attached left-attached"
                 (click)="onTaskletCreationTimeClicked()"
                 [matTooltip]=date
                 matTooltipPosition="above">
              <span class="left-attached-content"
                    *ngIf="isInCurrentWeek(tasklet.creationDate) && !isToday(tasklet.creationDate)">{{ weekDay.slice(0, 3) }},</span>
              <span class="left-attached-content"
                    *ngIf="!isInCurrentWeek(tasklet.creationDate)">{{ simpleDate }},</span>
              <span class="left-attached-content">{{ time }}</span>
            </div>
          </div>
          <div class="tags-holder"
               (click)="onTaskletClicked()">
          <span class="time" *ngIf="media <= mediaType.MEDIUM">
            <label class="time-label">
             <span>{{ time }}</span>
              <span *ngIf="isBeforeToday(tasklet.creationDate)">, {{ date }}</span>
            </label>
          </span>
            <span *ngFor="let p of tasklet.personIds">
            <span class="person" *ngIf="persons.get(p) != null"><label
              class="person-label">{{ persons.get(p).name }}</label></span>
            </span>
            <span *ngFor="let t of tasklet.tagIds">
            <span class="tag" *ngIf="tags.get(t) != null"><label class="tag-label">{{ tags.get(t).name }}</label></span>
            </span>
          </div>
          <div class="flexbox"></div>
          <div class="attachment-holder" *ngIf="media > mediaType.MEDIUM">
            <div *ngIf="isContinuable()"
                 class="side-attached right-attached hidden"
                 (click)="onContinueClicked()"
                 matTooltip="Continue with tasklet"
                 matTooltipPosition="above">
              <div class="right-attached-content">
                <mat-icon class="continue-icon" svgIcon="play_circle_filled"></mat-icon>
              </div>
            </div>
            <div *ngIf="isTemplatable()" class="side-attached right-attached hidden"
                 (click)="onTemplateClicked()"
                 matTooltip="Template this event" matTooltipPosition="above">
              <div class="right-attached-content">
                <mat-icon class="continue-icon" svgIcon="play_circle_filled"></mat-icon>
              </div>
            </div>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
