<div *ngIf="tasklet != null" [class]="themeClass">
  <!-- Top attachment -->
  <div class="top-attached" *ngIf="isLastOfWeek">
    <div class="week-indicator">
      Week {{ calendarWeek }}
    </div>
  </div>
  <div class="top-attached" *ngIf="isLastOfDay">
    <div class="day-indicator">
      {{ weekday }}, {{ date }}
    </div>
  </div>

  <!-- Context menu -->
  <div class="flexcontainer">
    <div class="flexbox"></div>
    <span [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></span>
    <mat-menu #contextMenu="matMenu">
      <button mat-menu-item
              (click)="taskletEventEmitter.emit({action: actionType.OPEN_DIALOG_UPDATE, tasklet: tasklet})">
        Update tasklet
      </button>
      <button mat-menu-item
              (click)="taskletEventEmitter.emit({action: actionType.OPEN_DIALOG_CREATION_TIME, tasklet: tasklet})">
        Update creation time
      </button>
      <button mat-menu-item *ngIf="containsDisplayAspect(displayAspectType.CAN_BE_UPDATED, tasklet)"
              (click)="taskletEventEmitter.emit({action: actionType.OPEN_DIALOG_CONTINUE, tasklet: tasklet})">
        Continue tasklet
      </button>
    </mat-menu>
    <div class="flexbox"></div>
  </div>

  <!-- Display as preview -->
  <div *ngIf="containsDisplayAspect(displayAspectType.IS_DISPLAYED_AS_PREVIEW, tasklet)">
    <div class="tasklet-preview">
      <app-tasklet-preview-fragment [tasklet]="tasklet"
                                    [task]="task"
                                    [project]="project"
                                    [title]="title"
                                    [icon]="icon"
                                    [media]="media"
                                    (taskletEventEmitter)="onTaskletClicked($event)"></app-tasklet-preview-fragment>
    </div>
  </div>

  <!-- Display as card -->
  <div class="card-wrapper" *ngIf="!containsDisplayAspect(displayAspectType.IS_DISPLAYED_AS_PREVIEW, tasklet)">
    <app-tasklet-card-fragment [tasklet]="tasklet"
                               [task]="task"
                               [project]="project"
                               [title]="title"
                               [subtitle]="subtitle"
                               [icon]="icon"
                               [tags]="tagsMap"
                               [persons]="personsMap"
                               [media]="media"
                               [themeClass]="themeClass"
                               (taskletEventEmitter)="onTaskletClicked($event)"></app-tasklet-card-fragment>
  </div>
</div>
