.chat-bubble {
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 5px 20px;
  width: 80%;
  overflow-wrap: break-word;
}

.delete-button {
  height: 14px;
  width: 14px;
  margin-top: -14px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.flexcontainer {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}
