<mat-toolbar color="primary">
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item" (click)="onClickMenuItem('menu')">
      <mat-icon svgIcon="menu" class="white-icon"></mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <div class="searchbox">
    <input class="search-input" matInput #search name="search" type="text" placeholder="Search"
           [formControl]="formControl"
           [matAutocomplete]="auto"
           (keyup)="onChangeSearchItem(search.value)"
           (click)="onClickInput()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredSearchOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item right" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_vert" class="white-icon"></mat-icon>
    </button>
    <button mat-button class="toolbar-menu-item right" (click)="onClickMenuItem('todo')">
      <mat-icon svgIcon="timer" class="white-icon"></mat-icon>
    </button>
    <button mat-button class="toolbar-menu-item right" (click)="onClickMenuItem('projects')">
      <mat-icon svgIcon="agenda" class="white-icon"></mat-icon>
    </button>
    <button mat-button class="toolbar-menu-item right" (click)="onClickMenuItem('tags')">
      <mat-icon svgIcon="label_outline" class="white-icon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickMenuItem('download')">
        <mat-icon svgIcon="file_download"></mat-icon>
        <span>Export</span>
      </button>
      <button mat-menu-item (click)="onClickMenuItem('upload')">
        <mat-icon svgIcon="file_upload"></mat-icon>
        <span>Import</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickMenuItem('about')">
        <mat-icon svgIcon="blank"></mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
