@import '../../../../theme';

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  color: #fff !important;
  font-weight: bolder;
}

.toolbar-menu-item {
  padding: 0 20px;
}

.right {
  float: right;
}

.flexbox {
  flex-grow: 1;
}

.toolbar-block {
  padding-left: 10px;
  padding-right: 10px;

  @media #{$mat-small} {
    width: 10%;
  }
  @media #{$mat-medium} {
    width: 100px;
  }
  @media #{$mat-large} {
    width: 400px;
  }
}

.searchbox {
  background: rgba(255, 255, 255, .15);
  margin: 10px auto;

  padding-left: 24px;
  padding-right: 24px;

  @media #{$mat-small} {
    width: 50%;
  }
  @media #{$mat-medium} {
    width: 300px;
  }
  @media #{$mat-large} {
    width: 450px;
  }

  &:hover {
    background: rgba(255, 255, 255, .25);
  }

  .search-input {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

    font-size: 90%;
    font-weight: 400;

    &:focus {
      outline-width: 0;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E0E0E0;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E0E0E0;
  }

  :-ms-input-placeholder { /* Microsoft Edge */
    color: #E0E0E0;
  }
}
