<mat-toolbar color="primary">
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item" (click)="onClickMenuItem('menu')">
      <mat-icon svgIcon="menu" class="white-icon"></mat-icon>
    </button>
    <span *ngIf="media != mediaType.SMALL" class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <div class="searchbox">
    <mat-form-field floatLabel="never" class="search-form-field">
      <button mat-button *ngIf="!searchItem" matSuffix mat-icon-button aria-label="Search">
        <mat-icon svgIcon="search" class="icon-white"></mat-icon>
      </button>
      <mat-label>Search</mat-label>
      <input class="search-input" matInput #search name="search" type="text"
             [(ngModel)]="searchItem"
             [formControl]="formControl"
             [matAutocomplete]="auto"
             (keyup)="onKeyUp($event)">
      <button mat-button *ngIf="searchItem" matSuffix mat-icon-button aria-label="Clear"
              (click)="onClearButtonClicked()">
        <mat-icon svgIcon="close_18" class="icon-white"></mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of searchOptionsFiltered | async" [value]="option"
                  (click)="onOptionSelected($event)">
        {{ option }}
      </mat-option>

    </mat-autocomplete>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item right" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_vert" class="white-icon"></mat-icon>
    </button>
    <button *ngIf="media > mediaType.MEDIUM" mat-button class="toolbar-menu-item right"
            (click)="onClickMenuItem('todo')">
      <mat-icon svgIcon="timer" class="white-icon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="toolbar-expanded" *ngIf="media < mediaType.LARGE">
        <button mat-menu-item (click)="onClickMenuItem('task-list')">
          <mat-icon svgIcon="turned_in_not"></mat-icon>
          <span>Tasks</span>
        </button>
        <button mat-menu-item (click)="onClickMenuItem('project-list')">
          <mat-icon svgIcon="agenda"></mat-icon>
          <span>Projects</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onClickMenuItem('filter-tags')">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span>Filter tags</span>
        </button>
        <button mat-menu-item (click)="onClickMenuItem('filter-projects')">
          <mat-icon svgIcon="filter_list"></mat-icon>
          <span>Filter projects</span>
        </button>
      </div>
      <button mat-menu-item (click)="onClickMenuItem('clear-filter')">
        <mat-icon svgIcon="layers_clear"></mat-icon>
        <span>Clear filters</span>
      </button>
      <mat-divider *ngIf="media < mediaType.LARGE"></mat-divider>
      <button mat-menu-item (click)="onClickMenuItem('download')">
        <mat-icon svgIcon="file_download"></mat-icon>
        <span>Export</span>
      </button>
      <button mat-menu-item (click)="onClickMenuItem('upload')">
        <mat-icon svgIcon="file_upload"></mat-icon>
        <span>Import</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickMenuItem('about')">
        <mat-icon svgIcon="blank"></mat-icon>
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
