<app-timeline-toolbar
  [@toolbarAnimation]="scrollDirection"
  class="fixed"
  [title]="title"
  [media]="media"
  [scope]="scope"
  [searchOptions]="searchOptions"
  (searchItemEventEmitter)="onSearchItemChanged($event)"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-timeline-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavStart mode="side"
               position="start" opened="true"
               class="sidenav sidenav-start">
    <div [@toolbarAnimation]="scrollDirection">
      <app-project-effort-tree [projectDigest]="weeklyDigest"></app-project-effort-tree>
      <div *ngFor="let dailyDigest of dailyDigests">
        <app-project-effort-tree [projectDigest]="dailyDigest"></app-project-effort-tree>
      </div>
      <mat-divider></mat-divider>
      <app-filter-tag-list [tags]="tagsFilter" [tagsNone]="tagsNone"
                           (tagEventEmitter)="onTagEvent($event)"></app-filter-tag-list>
      <mat-divider></mat-divider>
      <app-filter-project-list [projects]="projectsFilter" [projectsNone]="projectsNone"
                               (projectEventEmitter)="onProjectEvent($event)"></app-filter-project-list>
      <mat-divider></mat-divider>
      <app-filter-person-list [persons]="personsFilter" [personsNone]="personsNone"
                              (personEventEmitter)="onPersonEvent($event)"
      ></app-filter-person-list>
    </div>
  </mat-sidenav>

  <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavEnd mode="side"
               position="end" opened="true"
               class="sidenav sidenav-end">
    <div [@toolbarAnimation]="scrollDirection">
      <app-task-list [tasks]="tasks" [media]="media" (taskEventEmitter)="onTaskEvent($event)"></app-task-list>
      <mat-divider></mat-divider>
      <app-project-list [projects]="projects" (projectEventEmitter)="onProjectEvent($event)"></app-project-list>
      <mat-divider></mat-divider>
      <app-tag-list [tags]="tags" (tagEventEmitter)="onTagEvent($event)"></app-tag-list>
      <mat-divider></mat-divider>
      <app-person-list [persons]="persons" (personEventEmitter)="onPersonEvent($event)"></app-person-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content cdkScrollable>
    <div class="content">
      <app-tasklet-list [tasklets]="tasklets" [media]="media" [tasks]="tasksMap" [projects]="projectsMap"
                        [tags]="tagsMap" [persons]="personsMap"
                        [persons]="personService.persons"
                        (taskletEventEmitter)="onTaskletEvent($event)"
                        (taskletCreationDateEventEmitter)="onTaskletCreationDateEvent($event)"></app-tasklet-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="date-indicator-wrapper flexcontainer" *ngIf="indicatedDate != null">
  <div class="flexbox"></div>
  <button mat-fab class="date-indicator" [@dateIndicatorAnimation]="scrollState" (click)="onDateIndicatorClicked()">
    <div class="day">{{ indicatedDay }}</div>
    <div class="month">{{ indicatedMonth }}</div>
  </button>
  <div class="flexbox"></div>
</div>

<button mat-fab class="fab" [@fabAnimation]="scrollDirection"
        (click)="onAddClicked()">
  <mat-icon svgIcon="add" class="icon-accent-contrast"></mat-icon>
</button>
