@import '../../../../../styles';
@import '../../../../../sizes';
@import '../../../../../flex';
@import '../../../../../theme';

//
// Custom
//

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: transparent;
  width: 350px;

  @media #{$breakpoint-small} {
    padding-top: 88px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
  }
}

.sidenav-start {
  @media #{$breakpoint-small} {
    margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    margin-right: 40px;
  }
}

.sidenav-end {
  @media #{$breakpoint-small} {
    margin-left: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-left: 20px;
  }
  @media #{$breakpoint-large} {
    margin-left: 40px;
  }
}

.content {
  @media #{$breakpoint-small} {
    padding-top: 88px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.date-indicator-wrapper {
  width: 100%;
}

.date-indicator {
  top: auto !important;
  z-index: 2;

  color: mat-color($mat-grey, 50);
  background-color: mat-color($mat-grey, 800) !important;
  opacity: 0.8;

  @media #{$breakpoint-small} {
    width: 75px;
    height: 75px;
    margin-top: -10px !important;
  }
  @media #{$breakpoint-medium} {
    width: 90px;
    height: 90px;
    margin-top: -200px !important;
  }
  @media #{$breakpoint-large} {
    width: 90px;
    height: 90px;
    margin-top: -200px !important;
  }

  .day {
    font-size: 2em;
    font-weight: 800;
  }

  .month {
    font-size: 1.5em;
    font-weight: 400;
  }
}

.fab {
  top: auto !important;
  z-index: 2;

  @media #{$breakpoint-small} {
    right: 20px !important;
    bottom: 10px !important;
  }
  @media #{$breakpoint-medium} {
    right: 40px !important;
    bottom: 20px !important;
  }
  @media #{$breakpoint-large} {
    right: 40px !important;
    bottom: 20px !important;
  }
  left: auto !important;
  position: fixed !important;
}

.fab-speed-dial-second {
  background-color: mat-color($light-accent, 500) !important;
}

.fab-speed-dial-third {
  background-color: mat-color($light-accent, 400) !important;
}

.fab-speed-dial-fourth {
  background-color: mat-color($light-accent, 300) !important;
}

.fab-speed-dial-fifth {
  background-color: mat-color($light-accent, 200) !important;
}

.fab-speed-dial-sixth {
  background-color: mat-color($light-accent, 100) !important;
}
