<mat-form-field>
  <input matInput
         name="date"
         placeholder="Date"
         [(ngModel)]="day"
         [matDatepicker]="picker"
         (ngModelChange)="onDateChanged($event)">
  <mat-datepicker-toggle matSuffix
                         name="datepickertoggle"
                         [for]="picker">
  </mat-datepicker-toggle>
  <mat-datepicker #picker name="datepicker"></mat-datepicker>
</mat-form-field>

<mat-form-field color="primary" class="time-select">
  <mat-select [(ngModel)]="hour" name="hour" placeholder="Hours">
    <mat-option *ngFor="let item of hours" [value]="item" (click)="onHourSelected(item)">
      {{ addTrailingZero(item) }}
    </mat-option>
  </mat-select>
</mat-form-field>
:
<mat-form-field color="primary" class="time-select">
  <mat-select [(ngModel)]="minute" name="minute" placeholder="Minutes">
    <mat-option *ngFor="let item of minutes" [value]="item" (click)="onMinuteSelected(item)">
      {{ addTrailingZero(item) }}
    </mat-option>
  </mat-select>
</mat-form-field>
