<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <div>
        <mat-form-field class="wide-box">
          <input matInput required name="person" type="text" placeholder="Person" ngControl="controlPerson"
                 [disabled]="inputDisabled"
                 [(ngModel)]="person.name">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" *ngIf="mode == DIALOG_MODE.UPDATE" (click)="deletePerson()">
      Delete person
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" (click)="addPerson()" [disabled]="!formCtrl.form.valid">
      Add person
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" (click)="updatePerson()" [disabled]="!formCtrl.form.valid">
      Update person
    </button>
  </mat-dialog-actions>
</div>

