<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <span class="effort">{{ (node.effort / 60 ).toFixed(2) }}h</span> {{node.topic}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle>
      <mat-icon [svgIcon]="treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'">
      </mat-icon>
    </button>
    <label class="tag tag-label" [style.background-color]="node.color">
      <span class="effort">{{ (node.effort / 60 ).toFixed(2) }}h</span> {{node.topic}}
    </label>
  </mat-tree-node>
</mat-tree>
