<div class="participant">
  <app-person-autocomplete-fragment
    [person]="dailyScrumParticipant.person"
    (personChangedEmitter)="onPersonChanged($event)">
  </app-person-autocomplete-fragment>
  <div class="flexbox"></div>
  <div class="activities">
    <app-daily-scrum-activity-fragment *ngFor="let a of dailyScrumParticipant.activities"
                                       [person]="dailyScrumParticipant.person"
                                       [dailyScrumActivity]="a"
                                       [dailyScrumActivityOptions]="dailyScrumActivityOptions"
                                       (activityEditedEmitter)="onActivityUpdated($event)">
    </app-daily-scrum-activity-fragment>
  </div>
</div>
