@import '../../../../../../sizes';
@import '../../../../../../flex';
@import '../../../../../../filter';

.single-column {
  @media #{$breakpoint-small} {
    display: block;
    width: 100%;
  }
  @media #{$breakpoint-medium} {
    display: none;
  }
  @media #{$breakpoint-large} {
    display: none;
  }
}

.double-column {
  @media #{$breakpoint-small} {
    display: none;
  }
  @media #{$breakpoint-medium} {
    display: block;
    width: 45%;
    float: left;
  }
  @media #{$breakpoint-large} {
    display: block;
    width: 45%;
    float: left;
  }
}
