@import '../../../../../sizes';
@import '../../../../../flex';

.content {
  @media #{$breakpoint-small} {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    padding: 20px;
    margin: 50px auto;
    width: 450px;
  }
  @media #{$breakpoint-large} {
    margin: 65px auto;
    width: 450px;
  }
}

.icon {
  margin-right: 15px;
}

.number-input {
  width: 50px;
}

.details-box {
  margin-top: 10px;
}
