<mat-chip-list>
  <mat-chip *ngFor="let tag of tags" [style.color]="color" [style.background]="background">
    {{ tag }} <mat-icon *ngIf="!readonly" class="delete-button hidden" svgIcon="close_18" (click)="onDeleteTag(tag)"></mat-icon>
  </mat-chip>
  <div *ngIf="!readonly" class="searchbox">
    <input class="search-input" matInput name="search" type="text" [placeholder]="placeholder"
           [ngModel]="value"
           [disabled]="readonly"
           [matAutocomplete]="auto"
           (ngModelChange)="onValueChanged($event)"
           (keyup)="onKeyUp($event)"
           (keydown)="onKeyDown()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of optionsFiltered" [value]="option" (click)="onOptionSelected()">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>
</mat-chip-list>
