<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="true" (opened)="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          Tags
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Recent -->
    <app-tag-list-item *ngFor="let p of tagsRecent" [tag]="p" [media]="media" [opaque]="!isInFocus(t)"
                           (tagEventEmitter)="onTagEvent($event)">
    </app-tag-list-item>
    <!-- Non-recent -->
    <div *ngIf="showMoreStatus">
      <mat-divider></mat-divider>
      <app-tag-list-item *ngFor="let p of tagsNonRecent" [tag]="p" [media]="media" [opaque]="!isInFocus(t)"
                             (tagEventEmitter)="onTagEvent($event)">
      </app-tag-list-item>
    </div>

    <button mat-button *ngIf="tags.length > recentCount" (click)="onMoreLessToggled()">{{ showMoreLabel }}</button>
  </mat-expansion-panel>
</mat-accordion>
