<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="true" (opened)="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          Tags
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Recent -->
    <app-tag-list-item *ngFor="let t of tagsRecent" [tag]="t" [media]="media" [active]="isInFocus(t)"
                       (tagEventEmitter)="onTagEvent($event)">
    </app-tag-list-item>
    <!-- Non-recent -->
    <div *ngIf="showMoreStatus">
      <mat-divider></mat-divider>
      <app-tag-list-item *ngFor="let t of tagsNonRecent" [tag]="t" [media]="media" [active]="isInFocus(t)"
                         (tagEventEmitter)="onTagEvent($event)">
      </app-tag-list-item>
    </div>

    <div class="flexcontainer">
      <button mat-button *ngIf="tags != null && tagsMap.size > recentCount" (click)="onMoreLessToggled()">{{ showMoreLabel }}</button>
      <div class="flexbox"></div>
      <button mat-button [disabled]="tagsMapUnused.size === 0" (click)="onRemoveUnusedTagsClicked()">Remove unused tags</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
