<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="false" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          Tags
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tag-list-item *ngFor="let t of tags" [tag]="t" [media]="media" (tagEventEmitter)="onTagEvent($event)">
    </app-tag-list-item>
  </mat-expansion-panel>
</mat-accordion>

<!--
<button mat-button class="label headers-align" (click)="onAddClicked()">
  <mat-icon class="icon-add" svgIcon="add"></mat-icon>
  <span>Add new tag</span>
</button>
-->
