@import '../../../../../../flex';
@import '../../../../../../theme';

//
// Custom
//

.light-theme {
  .label {
    color: mat-color($mat-grey, 300);
    font-size: 14px;
    font-weight: 500;
    margin: 15px 16px 7px;
  }
}

.dark-theme {
  .label {
    color: mat-color($mat-grey, 50);
    font-size: 14px;
    font-weight: 500;
    margin: 15px 16px 7px;
  }
}

.icon-add {
  margin-right: 16px;
}

//
// Material
//

.mat-expansion-panel {
  background: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0),
  0 0px 0px 0 rgba(0, 0, 0, .14),
  0 0px 0px 0 rgba(0, 0, 0, 0);
}

/*
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: transparent;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
*/
