<div (keydown)="onKeyDown($event)">
  <div>
    <h2 mat-dialog-title style="display:inline">{{ dialogTitle }}</h2>
    <button mat-button
            class="float-right"
            matTooltip="Go to Fullscreen"
            [matTooltipPosition]="'above'"
            (click)="onButtonClicked(actionType.FULLSCREEN)">
      <mat-icon svgIcon='fullscreen'></mat-icon>
    </button>
    <button mat-button
            class="float-right"
            matTooltip="Delete"
            [matTooltipPosition]="'above'"
            *ngIf="mode == modeType.UPDATE"
            (click)="onButtonClicked(actionType.DELETE)">
      <mat-icon svgIcon='delete'></mat-icon>
    </button>
  </div>
  <div *ngIf="task != null">
    <mat-dialog-content>
      <app-task-title-form [task]="task" [readonly]="readonly"
                           (taskEventEmitter)="onTaskNameChanged($event)"></app-task-title-form>
      <app-task-properties-form [task]="task" [project]="project" [delegatedTo]="delegatedTo" [tags]="tags"
                                [readonly]="readonly" [projectOptions]="projectOptions" [personOptions]="personOptions"
                                [tagOptions]="tagOptions"
                                (taskEventEmitter)="onTaskChanged($event)">
      </app-task-properties-form>
    </mat-dialog-content>
    <mat-dialog-actions class="flexcontainer">
      <button mat-button
              (click)="onButtonClicked(actionType.CANCEL)">
        Cancel
      </button>
      <div class="flexbox"></div>

      <button mat-button *ngIf="mode == modeType.UPDATE && task.completionDate != null" color="accent"
              (click)="onButtonClicked(actionType.REOPEN)">
        Re-open task
      </button>
      <button mat-button *ngIf="mode == modeType.UPDATE && task.completionDate == null" color="accent"
              (click)="onButtonClicked(actionType.COMPLETE)">
        Complete task
      </button>
      <button mat-button *ngIf="mode == modeType.ADD"
              [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, task)"
              (click)="onButtonClicked(actionType.ADD)">
        Add task
      </button>
      <button mat-button *ngIf="mode == modeType.UPDATE"
              [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, task)"
              (click)="onButtonClicked(actionType.UPDATE)">
        Update task
      </button>
    </mat-dialog-actions>
  </div>
</div>
