@import '../../../../../../flex';
@import '../../../../../../theme';

//
// Custom
//

.wide-box {
  display: block !important;
  width: 100%;
}

.value-set {
  color: mat-color($mat-grey, 800);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}

.justify-left {
  justify-content: start !important;
}

.task-selection {
  display: flex;
}

.task-select {
  width: 100%;
}

.priority {
  padding: 0 10px;
}

//
// Material
//

.mat-expansion-panel {
  display: inherit;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow:
  0 3px 1px -2px rgba(0, 0, 0, 0),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, 0);
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
