<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="tags.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          <span>Tags</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-filter-tag-list-item *ngFor="let t of tags" [tag]="t"
                                  (tagEventEmitter)="onTagEvent($event)">
    </app-filter-tag-list-item>
    <div>
      <mat-checkbox class="filter-none" [(ngModel)]="tagsNone"
                    (ngModelChange)="onFilterNone(tagsNone)">
        elements without tags
      </mat-checkbox>
    </div>
    <button mat-button class="label headers-align" (click)="onSetAll(true)">
      <span>Select all</span>
    </button>
    <button mat-button class="label headers-align" (click)="onSetAll(false)">
      <span>Select none</span>
    </button>
  </mat-expansion-panel>
</mat-accordion>
