<div class="chat-window" (keydown)="onKeyDown($event)">
  <app-daily-scrum-item-fragment *ngFor="let item of dailyScrumItems"
                                 [dailyScrumItem]="item"
                                 [myselfOption]="myselfOption"
                                 [colorDone]="colorDone"
                                 [colorDoing]="colorDoing"
                                 [colorWillDo]="colorWillDo"
                                 [colorImpediment]="colorImpediment"
                                 [colorStatement]="colorStatement"
                                 [contrastDone]="colorDone"
                                 [contrastDoing]="colorDoing"
                                 [contrastWillDo]="colorWillDo"
                                 [contrastImpediment]="colorImpediment"
                                 [contrastStatement]="contrastStatement"
                                 (dailyScrumItemChangedEmitter)="onDailyScrumItemChanged($event)"
                                 (dailyScrumItemDeletedEmitter)="onDailyScrumItemDeleted(item)">
  </app-daily-scrum-item-fragment>
  <div class="flexcontainer">
    <input class="search-input" matInput name="search" type="text"
           [ngModel]="text"
           (ngModelChange)="onTextChanged($event)"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of optionsFiltered" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <div class="flexbox"></div>

    <button class="action-button" mat-mini-fab [style.background]="colorDone" [matTooltip]="tooltipDone"
            matTooltipPosition="above"
            (click)="onDoneClicked()">
      <mat-icon svgIcon="check_circle"></mat-icon>
    </button>
    <button class="action-button" mat-mini-fab [style.background]="colorDoing" [matTooltip]="tooltipDoing"
            matTooltipPosition="above"
            (click)="onDoingClicked()">
      <mat-icon svgIcon="refresh"></mat-icon>
    </button>
    <button class="action-button" mat-mini-fab [style.background]="colorWillDo" [matTooltip]="tooltipWillDo"
            matTooltipPosition="above"
            (click)="onWillDoClicked()">
      <mat-icon svgIcon="today"></mat-icon>
    </button>
    <button class="action-button" mat-mini-fab [style.background]="colorImpediment" [matTooltip]="tooltipImpediment"
            matTooltipPosition="above"
            (click)="onImpedimentClicked()">
      <mat-icon svgIcon="warning"></mat-icon>
    </button>

    <mat-divider vertical="true"></mat-divider>

    <button
      *ngIf="person == null"
      class="action-button"
      mat-mini-fab
      matTooltip="Person"
      matTooltipPosition="above"
      [style.background]="colorPerson"
      (click)=select.open()>
      <mat-icon svgIcon="person"></mat-icon>
    </button>

    <app-person-indicator-button
      *ngIf="person != null"
      class="action-button"
      [name]="person.name"
      [color]="colorPerson"
      [textColor]="contrastPerson"
      (click)=select.open()>
    </app-person-indicator-button>

    <mat-select #select class="personSelect">
      <mat-option (click)="onPersonSelected(myselfOption)">{{ myselfOption }}</mat-option>
      <mat-divider></mat-divider>
      <mat-option *ngFor="let person of personOptions" [value]="person" (click)="onPersonSelected(person)">
        {{ person }}
      </mat-option>
    </mat-select>
  </div>
</div>
