<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="tasksOverdue.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          <span matBadge="{{ tasksOverdue.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksOverdueBadgeColor">Overdue</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-task-list-item *ngFor="let t of tasksOverdue" [task]="t">
    </app-task-list-item>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="tasksNext.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          <span matBadge="{{ tasksNext.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksNextBadgeColor">Next</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-task-list-item *ngFor="let t of tasksNext" [task]="t">
    </app-task-list-item>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="tasksInbox.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <div class="label">
        <span matBadge="{{ tasksInbox.length }}"
              matBadgeOverlap="false"
              [matBadgeColor]="tasksInboxBadgeColor">Inbox</span>
      </div>
    </mat-expansion-panel-header>
    <app-task-list-item *ngFor="let t of tasksInbox" [task]="t">
    </app-task-list-item>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="false" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <div class="label">
        <span>Completed</span>
      </div>
    </mat-expansion-panel-header>
    <app-task-list-item *ngFor="let t of tasksCompleted" [task]="t">
    </app-task-list-item>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button class="label headers-align" (click)="onMenuItemClicked('add-task')">
  <mat-icon class="add-task-icon" svgIcon="add"></mat-icon>
  <span>Add new task</span>
</button>
