<app-checkable-list-item *ngFor="let item of unselectedItems"
                         [item]="item" [readonly]="readonly" (itemChangedEmitter)="onItemChanged($event)">
</app-checkable-list-item>

<div *ngIf="!readonly" (click)="onNewListEntryClicked()">
  <mat-icon class="icon-add" svgIcon="add"></mat-icon>
  <span class="label">List entry</span>
</div>

<p>
  <mat-divider></mat-divider>
</p>

<mat-accordion>
  <mat-expansion-panel [expanded]="selectedItems.length > 0" [disabled]="selectedItems.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          {{ selectedItems.length }} completed items
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-checkable-list-item *ngFor="let item of selectedItems"
                             [item]="item" [readonly]="readonly" (itemChangedEmitter)="onItemChanged($event)">
    </app-checkable-list-item>
  </mat-expansion-panel>
</mat-accordion>
