@import '../../../../../../theme';
@import '../../../../../../flex';

//
// Custom
//

.list-icon {
  margin-right: 16px;
}

.icon {
  vertical-align: middle;
}

.list-label {
  flex-grow: 1;
}

.entity {
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action{
  margin-left: 8px;
}

.action-buttons {
  min-width: 65px;
}
