<mat-menu #popover="matMenu" yPosition="above" class="popover">
  <div class="popover-container"
       (mouseenter)="onHoverPopover(true)"
       (mouseleave)="onHoverPopover(false)">
    <app-color-popover [project]="project" [projects]="projects" (projectEventEmitter)="onProjectEvent($event)"></app-color-popover>
  </div>
</mat-menu>
<div [matMenuTriggerFor]="popover" #popoverMenuTrigger></div>
<div class="flexcontainer"
     (mouseenter)="onHoverContainer(true)"
     (mouseleave)="onHoverContainer(false)">
  <mat-menu #contextMenu="matMenu">
    <button mat-menu-item (click)="onProjectClicked()">Update project</button>
    <button mat-menu-item (click)="onFilterClicked()"
            class="action-buttons">Filter by project
    </button>
  </mat-menu>
  <div [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></div>
  <button mat-button class="entity flexbox" [disabled]="!active">
    <span class="flexcontainer">
      <span class="list-icon">
        <mat-icon *ngIf="project.color == null" class="icon" svgIcon="alias_project"
                  (click)="onProjectIconClicked()"></mat-icon>
        <mat-icon *ngIf="project.color != null" class="icon" svgIcon="alias_project"
                  [style.fill]="project.color"
                  (click)="onProjectIconClicked()"></mat-icon>
      </span>
      <span *ngIf="project != null" class="list-label" (click)="onProjectClicked()">{{ project.name }}</span>
    </span>
  </button>
  <div *ngIf="media > mediaType.MEDIUM" class="flexcontainer">
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Filter"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="onFilterClicked()">
      <mat-icon svgIcon='filter_list'></mat-icon>
    </button>
  </div>
</div>
