<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="persons.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          Persons
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-person-list-item *ngFor="let p of persons" [person]="p" (personEventEmitter)="onPersonEvent($event)">
    </app-person-list-item>
  </mat-expansion-panel>
</mat-accordion>

<!--
<button mat-button class="label headers-align"
        (click)="onAddClicked()">
  <mat-icon class="icon-add" svgIcon="add"></mat-icon>
  <span>Add new person</span>
</button>
-->
