<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="true" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          Persons
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Recent -->
    <app-person-list-item *ngFor="let p of personsRecent" [person]="p" [media]="media" [opaque]="!isInFocus(p)"
                           (personEventEmitter)="onPersonEvent($event)">
    </app-person-list-item>
    <!-- Non-recent -->
    <div *ngIf="showMoreStatus">
      <mat-divider></mat-divider>
      <app-person-list-item *ngFor="let p of personsNonRecent" [person]="p" [media]="media" [opaque]="!isInFocus(p)"
                             (personEventEmitter)="onPersonEvent($event)">
      </app-person-list-item>
    </div>
    <button mat-button *ngIf="persons.length > recentCount" (click)="onMoreLessToggled()">{{ showMoreLabel }}</button>
  </mat-expansion-panel>
</mat-accordion>
