<mat-accordion *ngIf="personsMap.size > 0" class="headers-align">
  <mat-expansion-panel [expanded]="true" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          Persons
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- Recent -->
    <app-person-list-item *ngFor="let p of personsRecent" [person]="p" [media]="media" [active]="isInFocus(p)"
                          (personEventEmitter)="onPersonEvent($event)">
    </app-person-list-item>
    <!-- Non-recent -->
    <div *ngIf="showMoreStatus">
      <mat-divider></mat-divider>
      <app-person-list-item *ngFor="let p of personsNonRecent" [person]="p" [media]="media" [active]="isInFocus(p)"
                            (personEventEmitter)="onPersonEvent($event)">
      </app-person-list-item>
    </div>
    <button mat-button *ngIf="personsMap.size > recentCount" (click)="onMoreLessToggled()">{{ showMoreLabel }}</button>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="personsMap.size == 0" class="placeholder-container">
  <button mat-flat-button class="placeholder" (click)="onPlaceholderClicked()">
    There are no persons yet
  </button>
</div>
