<div class="flexcontainer">
  <mat-icon class="icon" [svgIcon]="icon"></mat-icon>
  <ul class="statements">
    <li *ngFor="let part of meetingMinuteItemStatementParts">
      <span class="person" *ngIf="meetingMinuteItem.person != null">
        {{ meetingMinuteItem.person.name }}
      </span>
      <app-markdown-preview class="markdown-correction" [markdownText]="part"></app-markdown-preview>
    </li>
  </ul>
  <span class="due-date" *ngIf="meetingMinuteItem.dueDate != null">
    {{ getDateString(meetingMinuteItem.dueDate) }} {{ getTimeString(meetingMinuteItem.dueDate) }}
  </span>
</div>
