<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-tasklet-type-fragment [tasklet]="tasklet" (taskletTypeEventEmitter)="onTaskletTypeChanged($event)">
      </app-tasklet-type-fragment>
      <app-task-autocomplete-fragment
        *ngIf="containsDisplayAspect(displayAspectType.CAN_BE_ASSIGNED_TO_TASK, tasklet)"
        [task]="task" [taskOptions]="taskOptions" (taskChangedEmitter)="onTaskChanged($event)">
      </app-task-autocomplete-fragment>
      <app-previous-description-fragment *ngIf="containsPreviousDescription(tasklet)"
                                         [previousDescription]="previousDescription"></app-previous-description-fragment>
      <!-- Pomodoro task -->
      <app-markdown-editor *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_POMODORO_TASK, tasklet)"
                           [text]="tasklet.pomodoroTask.value"
                           placeholder="Pomodoro Task"
                           (textChangedEmitter)="onPomodoroTaskChanged($event)"></app-markdown-editor>
      <!-- Description -->
      <app-markdown-editor *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_DESCRIPTION, tasklet)"
                           [text]="tasklet.description.value"
                           placeholder="Description"
                           (textChangedEmitter)="onDescriptionChanged($event)"></app-markdown-editor>
      <!-- Meeting minutes -->
      <app-meeting-minutes-fragment
        *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_MEETING_MINUTES, tasklet)"
        [meetingMinuteItems]="tasklet.meetingMinuteItems"
        [personOptions]="personOptions"
        [myselfOption]="myselfOption"
        (meetingMinuteItemsUpdatedEmitter)="onMeetingMinuteItemsUpdated($event)"></app-meeting-minutes-fragment>
      <!-- Daily Scrum -->
      <app-daily-scrum-fragment
        *ngIf="tasklet.type == taskletType.DAILY_SCRUM"
        [dailyScrumItems]="tasklet.dailyScrumItems"
        [personOptions]="personOptions">
      </app-daily-scrum-fragment>
      <app-tag-chips *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_TAGS, tasklet)"
                     [tags]="tags | tagNames"
                     [tagOptions]="tagOptions"
                     [readonly]=false
                     (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips>
      <app-tag-chips *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_PERSONS, tasklet)"
                     [tags]="persons | personNames"
                     [tagOptions]="personOptions"
                     [readonly]=false
                     placeholder="New person"
                     (tagsChangedEmitter)="onPersonsChanged($event)">
      </app-tag-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteTasklet()">
      Delete tasklet
    </button>
    <div class="flexbox"></div>
    <button mat-button (click)="goToFullscreen()">
      Go to Fullscreen
    </button>
    <button mat-button *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_POMODORO_TASK, tasklet)"
            [disabled]="tasklet.pomodoroStartTime != null" (click)="startPomodoro()">
      Start Pomodoro
    </button>
    <button mat-button *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_MEETING_MINUTES, tasklet)"
            (click)="sendMeetingMinutes()" [disabled]="!formCtrl.form.valid">
      Send Meeting Minutes
    </button>
    <button mat-button *ngIf="tasklet.type == taskletType.DAILY_SCRUM" (click)="sendDailyScrumSummary()"
            [disabled]="!formCtrl.form.valid">
      Send Daily Scrum Summary
    </button>
    <button mat-button *ngIf="mode == modeType.ADD"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, tasklet)"
            (click)="addTasklet()">
      Add tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_UPDATED, tasklet)"
            (click)="updateTasklet()">
      Update tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.CONTINUE"
            [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CONTINUED, tasklet)"
            (click)="continueTasklet()">
      Continue tasklet
    </button>
  </mat-dialog-actions>
</div>
