<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-tasklet-type-fragment [tasklet]="tasklet" (taskletTypeEventEmitter)="onTaskletTypeChanged($event)">
      </app-tasklet-type-fragment>
      <app-task-autocomplete-fragment
        [task]="task" [taskOptions]="taskOptions" (taskChangedEmitter)="onTaskChanged($event)"
        *ngIf="canBeAssignedToTask(tasklet)">
      </app-task-autocomplete-fragment>
      <app-previous-description-fragment *ngIf="containsPreviousDescription(tasklet)"
                                         [previousDescription]="previousDescription"></app-previous-description-fragment>
      <!-- Pomodoro task -->
      <app-description-fragment *ngIf="containsPomodoroTask(tasklet)"
                                [description]="tasklet.pomodoroTask"
                                placeholder="Pomodoro Task"
                                (descriptionChangedEmitter)="onPomodoroTaskChanged($event)"></app-description-fragment>
      <!-- Description -->
      <app-description-fragment *ngIf="containsDescription(tasklet)"
                                [description]="tasklet.description"
                                placeholder="Description"
                                (descriptionChangedEmitter)="onDescriptionChanged($event)"></app-description-fragment>
      <!-- Meeting minutes -->
      <app-meeting-minutes-fragment
        *ngIf="containsMeetingMinutes(tasklet)"
        [meetingMinuteItems]="tasklet.meetingMinuteItems"
        [personOptions]="personOptions"
        [myselfOption]="myselfOption"
        (meetingMinuteItemsUpdatedEmitter)="onMeetingMinuteItemsUpdated($event)"></app-meeting-minutes-fragment>
      <!-- Daily Scrum -->
      <app-daily-scrum-fragment
        *ngIf="tasklet.type == taskletType.DAILY_SCRUM"
        [dailyScrumItems]="tasklet.dailyScrumItems"
        [personOptions]="personOptions">
      </app-daily-scrum-fragment>
      <app-tag-chips *ngIf="containsTags(tasklet)"
                     [tags]="tags | tagNames"
                     [tagOptions]="tagOptions"
                     [readonly]=false
                     (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips>
      <app-tag-chips *ngIf="containsPersons(tasklet)"
                     [tags]="persons | personNames"
                     [tagOptions]="personOptions"
                     [readonly]=false
                     placeholder="New person"
                     (tagsChangedEmitter)="onPersonsChanged($event)">
      </app-tag-chips>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteTasklet()">
      Delete tasklet
    </button>
    <div class="flexbox"></div>
    <button mat-button (click)="goToFullscreen()">
      Go to Fullscreen
    </button>
    <button mat-button [disabled]="tasklet.pomodoroStartTime != null" *ngIf="containsPomodoroTask(tasklet)" mat-button (click)="startPomodoro()">
      Start Pomodoro
    </button>
    <button mat-button *ngIf="tasklet.type == taskletType.MEETING || tasklet.type == taskletType.CALL"
            (click)="sendMeetingMinutes()" [disabled]="!formCtrl.form.valid">
      Send Meeting Minutes
    </button>
    <button mat-button *ngIf="tasklet.type == taskletType.DAILY_SCRUM" (click)="sendDailyScrumSummary()"
            [disabled]="!formCtrl.form.valid">
      Send Daily Scrum Summary
    </button>
    <button mat-button *ngIf="mode == modeType.ADD" (click)="handleTaskletChanges()" [disabled]="!formCtrl.form.valid
        && canBeCreated()">
      Add tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE" (click)="handleTaskletChanges()" [disabled]="!formCtrl.form.valid
        && canBeUpdated()">
      Update tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.CONTINUE" (click)="handleTaskletChanges()"
            [disabled]="!formCtrl.form.valid">
      Continue tasklet
    </button>
  </mat-dialog-actions>
</div>
