@import '../../../../../../sizes';
@import '../../../../../../flex';
@import '../../../../../../theme';

.label {
  color: mat-color($mat-grey, 300);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  top: 1.28125em;
  font-weight: 400;
  line-height: 1.125;
  left: 0;
  text-align: left;
  margin-bottom: 10px;
}

.wide-box {
  display: block !important;
  width: 100%;
}
