<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-header-fragment [tasklet]="tasklet">
      </app-header-fragment>
      <app-task-autocomplete-fragment
        [task]="task" [taskOptions]="taskOptions" (taskChangedEmitter)="onTaskChanged($event)" *ngIf="tasklet.type == 'Action'
          || tasklet.type == 'Meeting'
          || tasklet.type == 'Call'
          || tasklet.type == 'Mail'
          || tasklet.type == 'Chat'
          || tasklet.type == 'Development'
          || tasklet.type == 'Debugging'
          || tasklet.type == 'Idea'">
      </app-task-autocomplete-fragment>
      <app-previous-description-fragment
        [previousDescription]="previousDescription" *ngIf="tasklet.type == 'Action'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Meeting'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'
                                       || tasklet.type == 'Development'
                                       || tasklet.type == 'Debugging'
                                       || tasklet.type == 'Idea'"></app-previous-description-fragment>
      <app-description-fragment [description]="tasklet.description"
                                (descriptionChangedEmitter)="onDescriptionChanged($event)"
                                *ngIf="tasklet.type == 'Action'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Meeting'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'
                                       || tasklet.type == 'Development'
                                       || tasklet.type == 'Debugging'
                                       || tasklet.type == 'Idea'"></app-description-fragment>
      <app-daily-scrum-fragment [tasklet]="tasklet" *ngIf="tasklet.type == 'Daily Scrum'">
      </app-daily-scrum-fragment>
      <app-person-chips-fragment [persons]="persons" [personOptions]="personOptions"
                                 (personsChangedEmitter)="onPersonsChanged($event)"
                                 *ngIf="tasklet.type == 'Meeting'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'">
      </app-person-chips-fragment>
      <app-tag-chips-fragment [tags]="tags" [tagOptions]="tagOptions" (tagsChangedEmitter)="onTagsChanged($event)">
      </app-tag-chips-fragment>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flexcontainer">
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteTasklet()">
      Delete tasklet
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == modeType.ADD" (click)="addTasklet()" [disabled]="!formCtrl.form.valid
        && tasklet.type != 'Lunch Break'
        && tasklet.type != 'Finishing Time'">
      Add tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE" (click)="updateTasklet()" [disabled]="!formCtrl.form.valid
        && tasklet.type != 'Lunch Break'
        && tasklet.type != 'Finishing Time'">
      Update tasklet
    </button>
    <button mat-button *ngIf="mode == modeType.CONTINUE" (click)="continueTasklet()"
            [disabled]="!formCtrl.form.valid">
      Continue tasklet
    </button>
  </mat-dialog-actions>
</div>
