@import '../../../../theme';

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  color: #fff !important;
  font-weight: bolder;
}

.toolbar-block {
  margin-left: 10px;
  margin-right: 10px;
}

.toolbar-menu-item {
  padding: 0 20px;
}

.flexbox {
  flex-grow: 1;
}

.searchbox {
  background: rgba(255, 255, 255, .15);

  @media #{$mat-small} {
    width: 50%;
  }
  @media #{$mat-medium} {
    width: 300px;
  }
  @media #{$mat-large} {
    width: 450px;
  }

  &:hover {
    background: rgba(255, 255, 255, .25);
  }

  .search-input {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

    font-size: 90%;
    font-weight: 400;

    &:focus {
      outline-width: 0;
    }
  }
}
