<mat-card>
  <mat-card-header (click)="onActionFired('update')">
    <div>
      <mat-icon [svgIcon]=icon class="tasklet-type" style="float: left"></mat-icon>
      {{ tasklet.taskName }}
    </div>
  </mat-card-header>
  <mat-card-content (click)="onActionFired('update')">
    <mat-list>
      <mat-list-item class="text" *ngFor="let item of tasklet.text.split('\n')">{{ item.trim() }}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <div *ngIf="tasklet.done != null" class="right-attached">
    <mat-checkbox [(ngModel)]=tasklet.done (change)="onToggledDone()">
    </mat-checkbox>
  </div>
  <span class="tag" *ngFor="let t of tasklet.tags">
    <label class="tag-label">{{ t.value }}</label>
  </span>
  <mat-card-footer>
    <div *ngIf="tasklet.dueDate != null" class="left-attached">{{ dueDate }}</div>
  </mat-card-footer>
</mat-card>
