@import '../../../../theme';

.dialog {
  @media #{$mat-small} {
    width: 100%;
  }
  @media #{$mat-medium} {
    width: 600px;
  }
  @media #{$mat-large} {
    width: 600px;
  }
}

.single-column {
  @media #{$mat-small} {
    display: block;
    width: 100%;
  }
  @media #{$mat-medium} {
    display: none;
  }
  @media #{$mat-large} {
    display: none;
  }
}

.double-column {
  @media #{$mat-small} {
    display: none;
  }
  @media #{$mat-medium} {
    display: block;
    width: 45%;
    float: left;
  }
  @media #{$mat-large} {
    display: block;
    width: 45%;
    float: left;
  }
}
