<div class="task">
  <mat-form-field class="task-select" color="primary">
    <mat-select name="task" placeholder="Task" (selectionChange)="onSelectionChanged($event)"
                [(ngModel)]="task"
                [compareWith]="compareTask">
      <mat-option *ngFor="let task of taskOptions" [value]="task">
        {{ task.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flexbox"></div>
  <button mat-button (click)="addTask()">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
