<div class="participant flexcontainer">
  <app-person-autocomplete-fragment
    [person]="dailyScrumParticipant.person"
    [personOptions]="personOptions"
    (personChangedEmitter)="onPersonChanged($event)">
  </app-person-autocomplete-fragment>
  <div class="flexbox"></div>
  <div class="activities">
    <app-daily-scrum-activity-fragment *ngFor="let activity of dailyScrumParticipant.activities"
                                       [person]="dailyScrumParticipant.person"
                                       [personOptions]="personOptions"
                                       [dailyScrumActivity]="activity"
                                       [activityOptions]="activityOptions"
                                       (activityEditedEmitter)="onActivityUpdated($event)">
    </app-daily-scrum-activity-fragment>
  </div>
</div>
