<!--
<app-task-toolbar
  [@toolbarAnimation]="scrollDirection"
  class="fixed"
  [media]="media"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-task-toolbar>
-->

<div (keydown)="onKeyDown($event)" class="main">
  <mat-sidenav-container class="sidenav-container" layout="column">
    <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavStart mode="side"
                 position="start" [opened]="sidenavOpened"
                 class="sidenav sidenav-start">
      <div [@toolbarAnimation]="scrollDirection">
        <div class="sidenav-inner-container">
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav *ngIf="media > mediaType.MEDIUM" #sidenavEnd mode="side"
                 position="end" [opened]="sidenavOpened"
                 class="sidenav sidenav-end">
      <div [@toolbarAnimation]="scrollDirection">
        <div class="sidenav-inner-container">
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content cdkScrollable>
      <div *ngIf="task != null" class="content">
        <form #formCtrl="ngForm">
          <!-- Pseudo form field to make other input fields work -->
          <mat-form-field style="width: 0; height: 0;"><input matInput=""/></mat-form-field>

          <div class="header-buttons">
            <div class="icon-wrapper">
              <div class="more">
                <mat-icon svgIcon="more_horiz_36"></mat-icon>
              </div>
            </div>
            <div class="flexcontainer button-wrapper">
              <div class="flexbox"></div>
              <button mat-button routerLink="/timeline">Back to timeline</button>
              <div class="flexbox"></div>
            </div>
          </div>

          <div class="header">
            <div class="flexcontainer">
              <div *ngIf="action != null">
                <button mat-fab class="tasklet-type"
                        [style.backgroundColor]="action.backgroundColor">
                  <mat-icon [svgIcon]="action.icon" [style.fill]="action.iconColor"></mat-icon>
                </button>
              </div>
              <div *ngIf="task != null">
                <input class="task" matInput name="name" type="text" placeholder="Name"
                       [(ngModel)]="task.name"
                       [disabled]="readonly">
                <div *ngIf="project != null" [style.color]="action.backgroundColor">{{ project.name }}</div>
              </div>
            </div>
          </div>
          <div class="main">

            <div *ngIf="!propertiesOpened" class="information-buttons">
              <div class="icon-wrapper">
                <div class="more">
                  <mat-icon svgIcon="more_horiz_36"></mat-icon>
                </div>
              </div>
              <div class="flexcontainer button-wrapper">
                <div class="flexbox"></div>
                <button mat-button (click)="onUpdatePropertiesClicked()">Update properties</button>
                <div class="flexbox"></div>
              </div>
            </div>

            <div *ngIf="task != null && propertiesOpened" class="information">
              <app-task-properties-form [task]="task" [project]="project" [delegatedTo]="delegatedTo" [tags]="tags"
                                        [readonly]="readonly" [projectOptions]="projectOptions"
                                        [tagOptions]="tagOptions" [personOptions]="personOptions"
                                        (taskEventEmitter)="onTaskChanged($event)">
              </app-task-properties-form>
            </div>

            <div class="history">
              <div class="tasklet" *ngFor="let tasklet of tasklets">
                <div class="flexcontainer">
                  <div class="attachments">
                    <div class="attachment-holder" *ngIf="media > mediaType.MEDIUM">
                      <div *ngIf="tasklet.creationDate != null" class="side-attached left-attached-without-connector">
                      <span class="left-attached-content">
                        <app-relative-time-fragment [date]="tasklet.creationDate"></app-relative-time-fragment>
                      </span>
                      </div>
                    </div>
                  </div>
                  <app-tasklet-timeline-fragment [tasklet]="tasklet"
                                                 [backgroundColor]="action.backgroundColor"
                                                 [iconColor]="action.iconColor"
                                                 [media]="media"></app-tasklet-timeline-fragment>
                  <app-tasklet-content-fragment [tasklet]="tasklet"
                                                [placeholderDescription]="placeholderDescription"></app-tasklet-content-fragment>
                </div>
              </div>
            </div>

          </div>

          <div class="footer footer-buttons">
            <div class="header-buttons">
              <div class="icon-wrapper">
                <div class="more">
                  <mat-icon svgIcon="more_horiz_36"></mat-icon>
                </div>
              </div>
              <div class="flexcontainer button-wrapper">
                <button mat-button color="warn" *ngIf="mode == modeType.UPDATE"
                        (click)="onButtonClicked(actionType.DELETE)">
                  Delete task
                </button>
                <div class="flexbox"></div>
                <button mat-button *ngIf="mode == modeType.UPDATE && task.completionDate != null" color="accent"
                        (click)="onButtonClicked(actionType.REOPEN)">
                  Re-open task
                </button>
                <button mat-button *ngIf="mode == modeType.UPDATE && task.completionDate == null" color="accent"
                        (click)="onButtonClicked(actionType.COMPLETE)">
                  Complete task
                </button>
                <button mat-button *ngIf="mode == modeType.ADD"
                        [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, task)"
                        (click)="onButtonClicked(actionType.ADD)">
                  Add task
                </button>
                <button mat-button *ngIf="mode == modeType.UPDATE"
                        [disabled]="!containsDisplayAspect(displayAspectType.CAN_BE_CREATED, task)"
                        (click)="onButtonClicked(actionType.UPDATE)">
                  Update task
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
