@import '../../../../../../theme';
@import '../../../../../../flex';

//
// Custom
//

.entity {
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-icon {
  margin-right: 16px;
}
