<div class="container"
     (mouseenter)="onHoverContainer(true)"
     (mouseleave)="onHoverContainer(false)">
  <button [@continueAnimation]="state"
          mat-icon-button
          matTooltip="Work on this task"
          matTooltipPosition="above"
          matTooltipShowDelay="250"
          class="continue"
          [disableRipple]="true"
          (click)="startWorkOnTask()">
    <mat-icon svgIcon='reply'></mat-icon>
  </button>
  <button mat-button class="task" (click)="updateTask()">
    {{ task.name }}
  </button>
</div>

<!--
# Taskname
# Due Time
# "Do Now"-Button
# "Re-Schedule"-Button
# If "Later": Day
-->
