<div class="chat-window" (keydown)="onKeyDown($event)">
  <app-meeting-minutes-item-fragment *ngFor="let item of meetingMinuteItems" [meetingMinuteItem]="item">
  </app-meeting-minutes-item-fragment>
  <div class="flexcontainer">
    <div class="input-field">
      <input matInput name="input" [(ngModel)]="text"/>
    </div>
    <div class="flexbox"></div>
    <button class="action-button" mat-mini-fab matTooltip="Information (CTRL+I)" matTooltipPosition="above"
            (click)="onInformationClicked()">
      <mat-icon svgIcon="info"></mat-icon>
    </button>
    <button class="action-button" mat-mini-fab matTooltip="Decision (CTRL+D)" matTooltipPosition="above"
            (click)="onDecisionClicked()">
      <mat-icon svgIcon="gavel"></mat-icon>
    </button>
    <button
      mat-mini-fab
      matTooltip="Action"
      matTooltipPosition="above"
      (click)=select.open()>
      <mat-icon svgIcon="person"></mat-icon>
    </button>
    <mat-select #select class="personSelect">
      <mat-option *ngFor="let person of personOptions" [value]="person" (click)="onPersonSelected(person)">
        {{ person }}
      </mat-option>
    </mat-select>
  </div>
</div>
