@import '../../../../light-theme';
@import '../../../../dark-theme';

.label {
  .light-theme {
    color: rgba(0, 0, 0, .54);
  }
  .dark-theme {
    color: rgba(255, 255, 255, .54);
  }
  font-size: 14px;
  font-weight: 500;
  margin: 15px 16px 7px;
}

.dark-theme {
  .label {
    color: rgba(255, 255, 255, .54);
    font-size: 14px;
    font-weight: 500;
    margin: 15px 16px 7px;
  }
}

.label-overdue {
  color: mat-color($light-warn);
}

.mat-expansion-panel {
  display: inherit;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, 0);
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: transparent;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.add-project-icon {
  margin-right: 16px;
}
