<div class="dialog" (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <div>
        <mat-form-field class="wide-box">
          <input matInput required name="task" type="text" placeholder="Task" ngControl="controlTask"
                 [disabled]="inputDisabled"
                 [(ngModel)]="task.name">
        </mat-form-field>
      </div>

      <mat-accordion class="headers-align">

        <mat-expansion-panel *ngIf="task.completionDate != null" [expanded]="step === 0" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Completion date</mat-panel-title>
            <mat-panel-description *ngIf="task.completionDate != null" class="value-set">
              {{ dateService.getTime(task.completionDate) }}, {{ dateService.getDate(task.completionDate) }}
            </mat-panel-description>
            <mat-icon svgIcon="check"></mat-icon>
          </mat-expansion-panel-header>
          <app-date-time-picker-fragment
            [date]="task.completionDate"
            [disabled]="inputDisabled"
            (onDateChangedEmitter)="onCompletionDateChanged($event)">
          </app-date-time-picker-fragment>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Description</mat-panel-title>
            <mat-panel-description *ngIf="task.description == null || task.description.value == ''">
              Describe this task
            </mat-panel-description>
            <mat-panel-description *ngIf="task.description != null && task.description.value != ''">
              <span class="value-set description">{{ task.description.value }}</span>
            </mat-panel-description>
            <mat-icon svgIcon="short_text"></mat-icon>
          </mat-expansion-panel-header>
          <app-description-fragment [description]="task.description"
                                    [disabled]="inputDisabled"></app-description-fragment>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Due date</mat-panel-title>
            <mat-panel-description *ngIf="task.dueDate == null">Select a due date</mat-panel-description>
            <mat-panel-description *ngIf="task.dueDate != null" class="value-set">
              {{ dateService.getTime(task.dueDate) }}, {{ dateService.getDate(task.dueDate) }}
            </mat-panel-description>
            <mat-icon svgIcon="today"></mat-icon>
          </mat-expansion-panel-header>
          <app-date-time-picker-fragment
            [date]="task.dueDate"
            [disabled]="inputDisabled"
            (onDateChangedEmitter)="onDueDateChanged($event)">
          </app-date-time-picker-fragment>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Priority</mat-panel-title>
            <mat-panel-description *ngIf="task.priority < 0">Select a priority</mat-panel-description>
            <mat-panel-description *ngIf="task.priority >= 0">
              <span class="value-set">Priority {{ task.priority + 1 }}</span>
            </mat-panel-description>
            <mat-icon svgIcon="flag"></mat-icon>
          </mat-expansion-panel-header>
          <mat-icon class="priority" svgIcon="outlined_flag" (click)="onClickFlag(-1)"></mat-icon>
          <mat-icon *ngFor="let item of colorsPriorities; let i = index"
                    class="priority"
                    svgIcon="flag"
                    [style.fill]="colorsFlags[i]"
                    (mouseenter)="onHoverFlag(i)"
                    (mouseleave)="onLeaveFlag()"
                    (click)="onClickFlag(i)">
          </mat-icon>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Project
            </mat-panel-title>
            <mat-panel-description *ngIf="project == null">Assign this task to a project</mat-panel-description>
            <mat-panel-description *ngIf="project != null">
              <span class="value-set">{{ project.name }}</span>
            </mat-panel-description>
            <mat-icon svgIcon="agenda"></mat-icon>
          </mat-expansion-panel-header>
          <div>
            <app-project-autocomplete-fragment
              [project]="project"
              [disabled]="inputDisabled"
              (onProjectChangedEmitter)="onProjectChanged($event)"></app-project-autocomplete-fragment>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Estimated effort</mat-panel-title>
            <mat-panel-description *ngIf="task.effort == null || task.effort <= 0">Estimate the effort
            </mat-panel-description>
            <mat-panel-description *ngIf="task.effort > 0">
              <span class="value-set">{{ task.effort }} hours</span>
            </mat-panel-description>
            <mat-icon svgIcon="timer"></mat-icon>
          </mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="task.effort" name="effort" placeholder="Effort" type="number">
            </mat-form-field>
            <span>hours</span>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 0" [disabled]="inputDisabled" (opened)="false" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tags
            </mat-panel-title>
            <mat-panel-description *ngIf="tags == null || tags.length == 0">Select tags</mat-panel-description>
            <mat-panel-description *ngIf="tags != null && tags.length > 0" class="justify-left">
              <span class="value-set" *ngFor="let tag of tags.slice(0, 3)">{{ tag.name }}<span>, </span></span>
            </mat-panel-description>
            <mat-icon svgIcon="label_outline"></mat-icon>
          </mat-expansion-panel-header>
          <app-tag-chips-fragment [tags]="task.tags" [disabled]="inputDisabled"
                                  (onTagChangedEmitter)="onTagChanged($event)">
          </app-tag-chips-fragment>
        </mat-expansion-panel>

      </mat-accordion>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]=null>
      Cancel
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE && task.completionDate != null" color="accent"
            (click)="reopenTask()">
      Re-open task
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE && task.completionDate == null" color="accent"
            (click)="completeTask()" [disabled]="!formCtrl.form.valid">
      Complete task
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" (click)="addTask()" [disabled]="!formCtrl.form.valid">
      Add task
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" (click)="updateTask()" [disabled]="!formCtrl.form.valid">
      Update task
    </button>
  </mat-dialog-actions>
</div>
