<mat-toolbar color="primary">
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item" (click)="onClickMenuItem('menu')">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <div class="searchbox">
    <input class="search-input" matInput #search name="search" type="text" placeholder="Search"
           [formControl]="formControl"
           [matAutocomplete]="auto"
           (keyup)="onChangeSearchItem(search.value)"
           (click)="onClickInput()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredSearchOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block">
    <button mat-button class="toolbar-menu-item right" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more_white"></mat-icon>
    </button>
    <button mat-button class="toolbar-menu-item right" [routerLink]="['/todos']">
      <mat-icon svgIcon="timer_white"></mat-icon>
    </button>
    <button mat-button class="toolbar-menu-item right" (click)="onClickMenuItem('tags')">
      <mat-icon svgIcon="label_white"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClickMenuItem('about')">
        <span>About</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
