<mat-toolbar color="primary">
  <div class="toolbar-block">
    <span class="toolbar-title">{{ title }}</span>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block searchbox">
    <input class="search-input" matInput #search name="search" type="text" placeholder="Search"
           [formControl]="formControl"
           [(ngModel)]="taskletsService.searchItem"
           [matAutocomplete]="auto"
           (keyup)="onChangeSearchItem(search.value)"
           (click)="onClickInput()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredSearchOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="flexbox"></div>
  <button mat-button class="toolbar-menu-item" (click)="onClickMenuItem('tags')">
    <mat-icon svgIcon="label"></mat-icon>
  </button>
  <button mat-button class="toolbar-menu-item" [routerLink]="['/todos']">
    <mat-icon svgIcon="timer"></mat-icon>
  </button>
</mat-toolbar>
