<div class="card-wrapper">
  <div class="top-attached" *ngIf="tasklet.type == 'Finishing Time'">
    {{ date }}
    <div class="top-connection-line"></div>
  </div>
  <mat-card>
    <mat-card-content>
      <app-tasklet-default [tasklet]="tasklet" (onActionFired)="onActionFired($event)">
      </app-tasklet-default>
      <div class="continue" *ngIf="tasklet.type == 'Action'
                                       || tasklet.type == 'Meeting'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Development'
                                       || tasklet.type == 'Debugging'
                                       || tasklet.type == 'Idea'
                                       || tasklet.type == 'TODO' ">
        <div class="right-attached hidden" (click)="onActionFired('continue')" matTooltip="Continue with tasklet"
             matTooltipPosition="above">
          <mat-icon class="continue-icon" svgIcon="play_circle_filled"></mat-icon>
        </div>
      </div>
      <div class="template" *ngIf="tasklet.type == 'Daily Scrum' ">
        <div class="right-attached hidden" (click)="onActionFired('template')" matTooltip="Template this event"
             matTooltipPosition="above">
          <mat-icon class="continue-icon" svgIcon="play_circle_filled"></mat-icon>
        </div>
      </div>
      <app-tasklet-daily-scrum [tasklet]="tasklet" (onActionFired)="onActionFired($event)"
                               *ngIf="tasklet.type == 'Daily Scrum'">
      </app-tasklet-daily-scrum>
      <app-tasklet-todo [tasklet]="tasklet" (onActionFired)="onActionFired($event)"
                        *ngIf="tasklet.type == 'TODO'"></app-tasklet-todo>
      <app-tasklet-participants [tasklet]="tasklet" (onActionFired)="onActionFired($event)"
                                *ngIf="tasklet.type == 'Meeting'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'">
      </app-tasklet-participants>
      <app-tasklet-daily-digest [tasklet]="tasklet" (actionFiredEmitter)="onActionFired($event)"
                                 *ngIf="tasklet.type == 'Finishing Time'">
      </app-tasklet-daily-digest>
      <app-tasklet-weekly-digest [tasklet]="tasklet" (actionFiredEmitter)="onActionFired($event)"
                                 *ngIf="tasklet.type == 'Weekly Digest'">
      </app-tasklet-weekly-digest>
    </mat-card-content>
    <hr class="delimiter"/>
    <span class="tag" *ngFor="let t of tasklet.tags">
      <label class="tag-label">{{ t.value }}</label>
    </span>
    <mat-card-footer>
      <div *ngIf="tasklet.creationDate != null" class="left-attached" (click)="onActionFired('updateTime')">{{ time }}
      </div>
    </mat-card-footer>
  </mat-card>
</div>
