@import '../../../../../../theme';

.light-theme {
  mat-chip {
    background: mat-color($mat-grey, 200) !important;
    color: mat-contrast($mat-grey, 200) !important;
  }
}

.dark-theme {
  mat-chip {
    background: mat-color($mat-grey, 400) !important;
    color: mat-contrast($mat-grey, 400) !important;
  }
}

.delete-button {
  height: 14px;
  width: 14px;
  margin-top: -14px;
  margin-left: 10px;
}

mat-chip {
  &:hover .hidden {
    display: inline-block;
  }
}

.hidden {
  display: none;
}
