@import '../../../../../light-theme';

// Header

.day-header {
  border: mat-color($mat-grey, 300) 1px solid;
  color: mat-color($light-accent, 500);
}

.weekDay {

}

.date {

}

// Underlay

.underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.time-step {
  height: 20px;
}

// Overlay

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
