<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <div class="single-column" *ngFor="let p of projects">
    <mat-checkbox [(ngModel)]="p.checked">{{ p.name}}</mat-checkbox>
  </div>
  <div class="double-column" *ngFor="let p of projects.slice(0, projects.length / 2)">
    <mat-checkbox [(ngModel)]="p.checked">{{ p.name}}</mat-checkbox>
  </div>
  <div class="double-column" *ngFor="let p of projects.slice(projects.length / 2, projects.length)">
    <mat-checkbox [(ngModel)]="p.checked">{{ p.name}}</mat-checkbox>
  </div>
  <div>
    <mat-checkbox class="filter-none" [(ngModel)]=projectsNone>elements without projects</mat-checkbox>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flexcontainer">
  <div class="action-buttons">
    <button mat-button (click)="selectAll()">
      Select all
    </button>
    <button mat-button (click)="selectNone()">
      Select none
    </button>
  </div>
  <div class="flexbox"></div>
  <div class="closing-buttons">
    <button mat-button (click)="apply()">
      Apply
    </button>
  </div>
</mat-dialog-actions>

