<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<form #formCtrl="ngForm">
  <mat-dialog-content>
    <div>
      <mat-form-field class="wide-box">
        <input matInput required name="task" type="text" placeholder="Task" ngControl="controlTask"
               [(ngModel)]="task.name">
      </mat-form-field>
    </div>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Due date
          </mat-panel-title>
          <mat-panel-description>
            Select a due date
          </mat-panel-description>
          <mat-icon svgIcon="timer"></mat-icon>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="task.dueDate" [matDatepicker]="picker" name="dueDate" placeholder="Due date">
            <mat-datepicker-toggle name="datepickertoggle" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker name="datepicker"></mat-datepicker>
          </mat-form-field>
          <mat-form-field color="primary" class="time-select">
            <mat-select [(ngModel)]="hour" name="hour" placeholder="Hour">
              <mat-option *ngFor="let item of hours" [value]="item" (click)="onHourSelected(item)">
                {{ addTrailingZero(item) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          :
          <mat-form-field color="primary" class="time-select">
            <mat-select [(ngModel)]="minute" name="minute" placeholder="Minute">
              <mat-option *ngFor="let item of minutes" [value]="item" (click)="onMinuteSelected(item)">
                {{ addTrailingZero(item) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Priority
          </mat-panel-title>
          <mat-panel-description>
            Select a priority
          </mat-panel-description>
          <mat-icon svgIcon="flag"></mat-icon>
        </mat-expansion-panel-header>

        <mat-icon *ngFor="let item of colorsPriorities; let i = index"
                  class="priority"
                  svgIcon="flag"
                  [style.fill]="colorsFlags[i]"
                  (mouseenter)="onHoverFlag(i)"
                  (mouseleave)="onLeaveFlag()"
                  (click)="onClickFlag(i)">
        </mat-icon>

        <div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]=null>
      Cancel
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" (click)="addTask()" [disabled]="!formCtrl.form.valid">
      Add task
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" (click)="updateTask()" [disabled]="!formCtrl.form.valid">
      Update task
    </button>
  </mat-dialog-actions>
</form>
