@import '../../../../../theme';

mat-dialog-actions {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}

.mat-expansion-panel {
  display: inherit;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, 0);
}

.task-selection {
  display: flex;
}

.task-select {
  width: 100%;
}

.priority {
  padding: 0 10px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
