<div class="container">
  <mat-icon mat-card-avatar [svgIcon]=icon class="tasklet-type"></mat-icon>
  <div class="date" *ngIf="media < mediaType.LARGE">
    <span class="date-component"
      *ngIf="isWithinNextDays(tasklet.creationDate, 7) && !isToday(tasklet.creationDate)">{{ weekDay.slice(0, 3) }},</span>
    <span class="date-component"
      *ngIf="!isWithinNextDays(tasklet.creationDate, 7)">{{ simpleDate }},</span>
    <span class="date-component">{{ time }}</span>
  </div>
  <div class="topic">{{ topic }}</div>
</div>
