@import '../../../../../../sizes';
@import '../../../../../../light-theme';
@import '../../../../../../dark-theme';

.container {
  margin: 10px auto;

  @media #{$breakpoint-small} {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    width: 450px + 24px;
  }
  @media #{$breakpoint-large} {
    width: 450px + 24px;
  }

  display: flex;
}

.tasklet-type {
  fill: mat-color($mat-grey, 500);
  margin-right: 10px;
  height: 16px;
}

.topic {
  color: mat-color($mat-grey, 500);
}
