<mat-card-header (click)="onActionFired.next('update')">
  <mat-icon [svgIcon]=icon class="tasklet-type" style="float: left"></mat-icon>
  <div class="title">
    <label>Due date</label>
    <div>{{ dueDate }}</div>
  </div>
</mat-card-header>
<hr class="delimiter"/>
<mat-card-content (click)="onActionFired.next('update')">
  <mat-list>
    <mat-list-item class="text" *ngFor="let item of tasklet.text.split('\n')">{{ item.trim() }}</mat-list-item>
  </mat-list>
</mat-card-content>
<div *ngIf="tasklet.done != null" class="right-attached" (click)="toggleDone()">
  <mat-icon [svgIcon]=iconDone></mat-icon>
</div>
<!--
<mat-card-actions align="right">
</mat-card-actions>
-->
