<mat-form-field color="primary" class="wide-box">
          <textarea matInput
                    matTextareaAutosize
                    required
                    name="description"
                    placeholder="Description"
                    matAutosizeMinRows="5"
                    matAutosizeMaxRows="5"
                    [(ngModel)]="description.value"
                    [disabled]="disabled"
                    (change)="onDescriptionChanged($event)">
          </textarea>
  <button
    *ngIf="description.value"
    mat-button
    mat-icon-button
    matSuffix
    aria-label="Clear"
    type="button"
    title=''
    (click)="onClearButtonClicked()">
    <mat-icon svgIcon="close_18"></mat-icon>
  </button>
</mat-form-field>
