@import '../../../../../../sizes';
@import '../../../../../../flex';

.dialog {
  @media #{$breakpoint-small} {
    width: 100%;
  }
  @media #{$breakpoint-medium} {
    width: 600px;
  }
  @media #{$breakpoint-large} {
    width: 600px;
  }
}
