@import '../../../../../../sizes';

.dialog {
  @media #{$breakpoint-small} {
    width: 100%;
  }
  @media #{$breakpoint-medium} {
    width: 600px;
  }
  @media #{$breakpoint-large} {
    width: 600px;
  }
}

mat-dialog-actions {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}
