<app-todos-toolbar
  class="fixed"
  [title]="title"
  (onSearchItemChanged)="onSearchItemChanged($event)"
  (onMenuItemClicked)="onMenuItemClicked($event)"></app-todos-toolbar>

<mat-sidenav-container class="sidenav-container" layout="column">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <app-side-menu (onMenuItemClicked)="onSideMenuItemClicked($event)"></app-side-menu>
  </mat-sidenav>

  <div class="content">

    <h2 class="label">Next 7 days</h2>

    <h3 class="label">Overdue</h3>

    <app-todo *ngFor="let t of taskletsOverdue" [tasklet]="t">
    </app-todo>

    <h3 class="label">Today</h3>

    <app-todo *ngFor="let t of taskletsToday" [tasklet]="t">
    </app-todo>

    <h3 class="label">This week</h3>

    <app-todo *ngFor="let t of taskletsThisWeek" [tasklet]="t">
    </app-todo>

    <h2 class="label">Next week</h2>

    <app-todo *ngFor="let t of taskletsNextWeek" [tasklet]="t">
    </app-todo>

    <h2 class="label">Later</h2>

    <app-todo *ngFor="let t of taskletsLater" [tasklet]="t">
    </app-todo>

    <button mat-fab class="fab" (click)="onMenuItemClicked('add')">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </div>

</mat-sidenav-container>
