<mat-accordion class="headers-align">
  <mat-expansion-panel [expanded]="projects.length > 0" (opened)="false" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label" color="">
          Projects
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-project-list-item *ngFor="let p of projects" [project]="p"
                           (projectEventEmitter)="projectEventEmitter.emit($event)">
    </app-project-list-item>
  </mat-expansion-panel>
</mat-accordion>

<button mat-button class="label headers-align"
        (click)="projectEventEmitter.emit({action: action.OPEN_DIALOG_ADD, project: null})">
  <mat-icon class="icon-add" svgIcon="add"></mat-icon>
  <span>Add new project</span>
</button>
