<p>
  Week Start: {{ dateService.getDate(weekStart) }}
</p>
<p>
  Week End: {{ dateService.getDate(weekEnd) }}
</p>
<p>
  Total effort: {{(weekHours / 60 ).toFixed(2) }}h
</p>
<div style="display: inline-block">
  <div class="projectEffort" *ngFor="let projectEffort of weeklyDigest.getProjectEfforts()">
    <div class="project"
         [style.background-color]="colorService.getProjectColor(projectEffort.project.value)">
      <span class="effort">{{(projectEffort.effort / 60 ).toFixed(2) }}h</span> {{ projectEffort.project.value }}
    </div>
    <div class="task" *ngFor="let taskEffort of projectEffort.getTaskEfforts()">
      {{(taskEffort.effort / 60 ).toFixed(2) }}h {{ taskEffort.task.slice(0, 30) }}
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div *ngFor="let dailyDigest of weeklyDigest.dailyDigests">
  <h3>{{ dailyDigest.weekDayString }} [ {{ dailyDigest.startTimeString }} - {{ dailyDigest.endTimeString }} ]</h3>
  <div class="projectEffort" *ngFor="let projectEffort of dailyDigest.getProjectEfforts()">
    <div class="project"
         [style.background-color]="colorService.getProjectColor(projectEffort.project.value)">
      {{(projectEffort.effort / 60 ).toFixed(2) }}h {{ projectEffort.project.value }}
    </div>
    <div class="task" *ngFor="let taskEffort of projectEffort.getTaskEfforts()">
        {{(taskEffort.effort / 60 ).toFixed(2) }}h {{ taskEffort.task.slice(0, 30) }}
    </div>
  </div>
</div>
