@import '../../../../../theme';

mat-card {
  margin: 10px auto;

  @media #{$mat-small} {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$mat-medium} {
    width: 300px;
  }
  @media #{$mat-large} {
    width: 450px;
  }
}

.projectEffort {
  margin-bottom: 15px;
}

.project {
  padding: 3px 10px;
  margin-bottom: 25px;

  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}

.effort {
  margin-left: 15px;
}
