<div>
  <mat-form-field>
    <input matInput [(ngModel)]="tasklet.dueDate" [matDatepicker]="picker" placeholder="Due date">
    <mat-datepicker-toggle name="datepickertoggle" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker name="datepicker"></mat-datepicker>
  </mat-form-field>
  <mat-form-field color="primary" class="time-select">
    <mat-select name="type" placeholder="Time" [(ngModel)]="hour">
      <mat-option *ngFor="let item of hours" [value]="item" (click)="onHourSelected(item)">
        {{ addTrailingZero(item) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  :
  <mat-form-field color="primary" class="time-select">
    <mat-select name="type" [(ngModel)]="minute">
      <mat-option *ngFor="let item of minutes" [value]="item" (click)="onMinuteSelected(item)">
        {{ addTrailingZero(item) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field color="primary">
    <mat-select name="priority" placeholder="Priority" [(ngModel)]="tasklet.priority">
      <mat-option *ngFor="let item of taskletPriorities" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
