<div class="label" color="">
  <span matBadge="{{ tasksOverdue.length }}"
        matBadgeOverlap="false"
        [matBadgeColor]="tasksOverdueBadgeColor">Overdue</span></div>

<app-task-list-item *ngFor="let t of tasksOverdue" [task]="t">
</app-task-list-item>

<div class="label">Next</div>

<app-task-list-item *ngFor="let t of tasksNext" [task]="t">
</app-task-list-item>

<mat-divider></mat-divider>

<div class="label">
  <span matBadge="{{ tasksInbox.length }}"
        matBadgeOverlap="false"
        [matBadgeColor]="tasksInboxBadgeColor">Inbox</span>
</div>

<app-task-list-item *ngFor="let t of tasksInbox" [task]="t">
</app-task-list-item>
