<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <mat-form-field class="wide-box">
    <input matInput name="project" type="text" placeholder="Project" [formControl]="formControl"
           [(ngModel)]="project.value">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]=null>
    Cancel
  </button>
  <div class="flexbox"></div>
  <button mat-button *ngIf="mode == DIALOG_MODE.ADD" (click)="addProject()">Add
    project
  </button>
</mat-dialog-actions>
