<mat-form-field class="type" color="primary">
  <mat-select name="type" placeholder="Type" [(ngModel)]="dailyScrumActivity.type">
    <mat-option *ngFor="let item of activityTypes" [value]="item">
      {{ item }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="wide-box" color="primary">
  <input matInput name="task" type="text" placeholder="Topic"
         [ngModel]="dailyScrumActivity.topic"
         (ngModelChange)="onTopicChanged($event)"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of optionsFiltered" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
