@import "../../../../../../../flex";
@import "../../../../../../../theme";

.icon {
  height: 16px;
  fill: mat-color($mat-grey, 400);
  vertical-align: middle;
  margin-top: -2px;
}

.type {
  color: mat-color($mat-grey, 400);
  margin-right: 10px;
}

.statements {
  fill: mat-color($mat-grey, 800);
  list-style-type: none;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}
