<mat-accordion class="headers-align">

  <!-- INBOX -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="tasksInbox.length > 0" hideToggle>
      <mat-expansion-panel-header>
        <div class="label">
        <span matBadge="{{ tasksInbox.length }}"
              matBadgeOverlap="false"
              [matBadgeColor]="tasksInboxBadgeColor">Inbox</span>
        </div>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksInbox"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- OVERDUE -->
  <mat-expansion-panel [expanded]="tasksOverdue.length > 0" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="label">
          <span matBadge="{{ tasksOverdue.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksOverdueBadgeColor">Overdue</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-task-list-item *ngFor="let t of tasksOverdue"
                        [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                        (taskEventEmitter)="onTaskEvent($event)">
    </app-task-list-item>
  </mat-expansion-panel>

  <!-- TODAY -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="tasksToday.length > 0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="label">
          <span matBadge="{{ tasksToday.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksTodayBadgeColor">Today</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksToday"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- TOMORROW -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="tasksTomorrow.length > 0"hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="label">
          <span matBadge="{{ tasksTomorrow.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksTomorrowBadgeColor">Tomorrow</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksTomorrow"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- LATER -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="label">
          <span matBadge="{{ tasksLater.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksLaterBadgeColor">Later</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksLater"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- DELEGATED -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="tasksDelegated.length > 0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="label">
          <span matBadge="{{ tasksDelegated.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksDelegatedBadgeColor">Delegated</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksDelegated"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- RECURRING -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="tasksRecurring.length > 0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="label">
          <span matBadge="{{ tasksRecurring.length }}"
                matBadgeOverlap="false"
                [matBadgeColor]="tasksRecurringBadgeColor">Recurring</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksRecurring"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- COMPLETED -->
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="false" hideToggle>
      <mat-expansion-panel-header>
        <div class="label">
          <span>Completed</span>
        </div>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksCompleted"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- PROXY -->
  <mat-accordion *ngIf="debugMode" class="headers-align">
    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>
        <div class="label">
          <span>Proxy</span>
        </div>
      </mat-expansion-panel-header>
      <app-task-list-item *ngFor="let t of tasksProxy"
                          [task]="t" [projectsMap]=projectsMap [media]="media" [active]="isInFocus(t)"
                          (taskEventEmitter)="onTaskEvent($event)">
      </app-task-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</mat-accordion>
