<mat-accordion class="headers-align">

  <div *ngIf="task != null">
    <!-- Project -->
    <div class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>
        Project
      </mat-panel-title>
      <mat-panel-description>
        <app-project-autocomplete-fragment
          [project]="project"
          [projectOptions]="projectOptionNames"
          [readonly]="readonly"
          (projectChangedEmitter)="onProjectChanged($event)"></app-project-autocomplete-fragment>
      </mat-panel-description>
      <mat-icon svgIcon="agenda"></mat-icon>
    </div>

    <!-- Completion date (if completed) -->
    <mat-expansion-panel
      *ngIf="!recurring && task.completionDate != null" (opened)="false"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Completion date</mat-panel-title>
        <mat-panel-description *ngIf="task.completionDate != null" class="value-set">
          {{ getTimeString(task.completionDate) }}, {{ getDateString(task.completionDate) }}
        </mat-panel-description>
        <mat-icon svgIcon="check"></mat-icon>
      </mat-expansion-panel-header>
      <app-date-time-picker-fragment
        [date]="task.completionDate"
        (dateChangedEmitter)="onCompletionDateChanged($event)">
      </app-date-time-picker-fragment>
    </mat-expansion-panel>

    <!-- Recurrence Interval -->
    <div *ngIf="recurring" class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>Recurrence interval</mat-panel-title>
      <mat-panel-description>
        <app-recurrence-interval-fragment [recurrenceInterval]="task.recurrenceInterval"
                                          (recurrenceIntervalChangedEmitter)="onRecurrenceIntervalChanged($event)">
        </app-recurrence-interval-fragment>
      </mat-panel-description>
      <mat-icon class="clickable" (click)="onRecurringChanged()" svgIcon="loop"></mat-icon>
    </div>

    <!-- Due Date -->
    <div *ngIf="!recurring" class="basalt-mat-expansion-panel mat-expansion-panel-header extra-height">
      <mat-panel-title>Due date</mat-panel-title>
      <mat-panel-description>
        <div class="flexcontainer">
          <app-date-time-picker-fragment
            [date]="task.dueDate"
            (dateChangedEmitter)="onDueDateChanged($event)">
          </app-date-time-picker-fragment>
          <button mat-icon-button
                  class="action auto-height"
                  matTooltip="Postpone"
                  [matTooltipPosition]="'above'"
                  [disableRipple]="true"
                  (click)="select.open()">
            <mat-icon svgIcon='watch_later'></mat-icon>
          </button>
          <mat-select #select class="typeSelect">
            <mat-option (click)="onPostponeClicked('later')">Later (8:00pm)</mat-option>
            <mat-option (click)="onPostponeClicked('tomorrow')">Tomorrow (8:00am)</mat-option>
            <mat-option (click)="onPostponeClicked('this_weekend')">This weekend (8:00am Sat)</mat-option>
            <mat-option (click)="onPostponeClicked('next_week')">Next week (8:00 Mon)</mat-option>
          </mat-select>
        </div>
      </mat-panel-description>
      <mat-icon class="clickable" (click)="onRecurringChanged()" svgIcon="today"></mat-icon>
    </div>

    <!-- Priority -->
    <div class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>Priority</mat-panel-title>
      <mat-panel-description>
        <div class="flexcontainer">
          <mat-icon *ngFor="let item of colorsPriorities; let i = index"
                    class="priority"
                    svgIcon="flag"
                    [style.fill]="colorsFlags[i]"
                    (mouseenter)="onHoverFlag(i)"
                    (mouseleave)="onLeaveFlag()"
                    (click)="onClickFlag(i)">
          </mat-icon>
        </div>
      </mat-panel-description>
      <mat-icon svgIcon="flag"></mat-icon>
    </div>

    <!-- Effort -->
    <div class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>Estimated effort</mat-panel-title>
      <mat-panel-description>
        <div>
          <app-effort-picker-fragment [effortInMinutes]="task.effort"
                                      (effortEventEmitter)="onEffortChanged($event)"></app-effort-picker-fragment>
        </div>
      </mat-panel-description>
      <mat-icon svgIcon="timer"></mat-icon>
    </div>

    <!-- Tags -->
    <div class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>
        Tags
      </mat-panel-title>
      <mat-panel-description>
        <app-tag-chips [tags]="tags | tagNames"
                       [tagOptions]="tagOptionNames"
                       [readonly]=false
                       (tagsChangedEmitter)="onTagsChanged($event)">
        </app-tag-chips>
      </mat-panel-description>
      <mat-icon svgIcon="label_outline"></mat-icon>
    </div>

    <!-- Description -->
    <mat-expansion-panel [disabled]="readonly" (opened)="false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Description</mat-panel-title>
        <mat-panel-description *ngIf="task.description == null || task.description.value == ''">
          Describe this task
        </mat-panel-description>
        <mat-panel-description *ngIf="task.description != null && task.description.value != ''">
          <span class="value-set description">{{ task.description.value }}</span>
        </mat-panel-description>
        <mat-icon svgIcon="short_text"></mat-icon>
      </mat-expansion-panel-header>
      <app-markdown-editor *ngIf="task.description != null"
                           [text]="task.description.value"
                           [readonly]="readonly"
                           (textChangedEmitter)="onDescriptionChanged($event)"></app-markdown-editor>
    </mat-expansion-panel>

    <!-- Definition of Done -->
    <mat-expansion-panel [disabled]="readonly" (opened)="false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Definition of Done</mat-panel-title>
        <mat-panel-description
          *ngIf="task != null && (task.acceptanceCriteria == null || task.acceptanceCriteria.length === 0)">
          Add acceptence criteria
        </mat-panel-description>
        <mat-panel-description *ngIf="task.acceptanceCriteria != null && task.acceptanceCriteria.length > 0">
          <span class="value-set description">{{ completedAcceptanceCriteria }}
            / {{ task.acceptanceCriteria.length }}</span>
        </mat-panel-description>
        <mat-icon svgIcon="check_box"></mat-icon>
      </mat-expansion-panel-header>
      <app-completable-list [items]="task.acceptanceCriteria"
                            [readonly]="readonly"
                            [focusNewElement]="'true'"
                            (itemsChangedEmitter)="onAcceptanceCriteriaChanged($event)">
      </app-completable-list>
    </mat-expansion-panel>

    <!-- Delegation -->
    <div class="basalt-mat-expansion-panel mat-expansion-panel-header">
      <mat-panel-title>Delegated to</mat-panel-title>
      <mat-panel-description>
        <div>
          <app-person-autocomplete-fragment
            [person]="delegatedTo"
            [personOptions]="personOptionNames"
            (personChangedEmitter)="onDelegatedToChanged($event)"></app-person-autocomplete-fragment>
        </div>
      </mat-panel-description>
      <mat-icon svgIcon="person"></mat-icon>
    </div>
  </div>
</mat-accordion>
