<div class="searchbox">
  <input class="search-input" matInput name="search" type="text" placeholder="Task"
         [ngModel]="taskName"
         (ngModelChange)="onTaskNameChanged($event)"
         [disabled]="readonly"
         [matAutocomplete]="auto"
         (keyup)="onKeyUp()">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of optionsFiltered" [value]="option" (click)="onOptionSelected()">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</div>
