@import '../../../../../../theme';
@import '../../../../../../flex';

//
// Custom
//

.entity {
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-icon {
  margin-right: 16px;
}

.action {
  margin-left: 8px;
}

.action-buttons {
  min-width: 65px;
}


//
// POSTPONE SELECTOR
//

::ng-deep .typeSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .typeSelect.mat-select {
  display: inline;
  width: 1px;
}

