  <div *ngIf="task != null" class="flexcontainer"
       (mouseenter)="onHoverContainer(true)"
       (mouseleave)="onHoverContainer(false)">
    <mat-menu #contextMenu="matMenu">
      <button mat-menu-item (click)="onTaskClicked()">Update task</button>
      <button mat-menu-item (click)="onCompleteClicked()" *ngIf="task != null && task.completionDate == null"
              class="action-buttons">Complete task
      </button>
      <button mat-menu-item (click)="onContinueClicked()" *ngIf="task != null && task.completionDate == null"
              class="action-buttons">Continue task
      </button>
      <button mat-menu-item (click)="onReopenClicked()" *ngIf="task != null && task.completionDate != null"
              class="action-buttons">Re-open task
      </button>
      <button mat-menu-item (click)="onFilterClicked()"
              class="action-buttons">Filter by task
      </button>
    </mat-menu>
    <div [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></div>

    <button mat-button class="entity flexbox" [disabled]="!active" (click)="onTaskClicked()">
      <mat-icon *ngIf="projectColor == null" class="list-icon" [svgIcon]="icon"></mat-icon>
      <mat-icon *ngIf="projectColor != null" class="list-icon" [svgIcon]="icon"
                [style.fill]="projectColor"></mat-icon>
      <span>{{ task.name }}</span>
      <span [@actionAnimation]="state"
            *ngIf="task.effort > 0" class="effort">
      ( <span *ngIf="taskDigest != null && taskDigest.effort > 0">{{ taskDigest.effort }} / </span>{{ task.effort * 60 }} min)
    </span>
    </button>
    <!-- HOVER BUTTONS -->
    <div *ngIf="task != null && task.completionDate == null && media > mediaType.MEDIUM" class="flexcontainer">
      <!-- COMPLETE TASK -->
      <button [@actionAnimation]="state"
              mat-icon-button
              class="action"
              matTooltip="Complete"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="'250'"
              [disableRipple]="true"
              (click)="onCompleteClicked()">
        <mat-icon svgIcon='check'></mat-icon>
      </button>
      <!-- CONTINUE TASK -->
      <button [@actionAnimation]="state"
              mat-icon-button
              class="action"
              matTooltip="Continue"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="'250'"
              [disableRipple]="true"
              (click)="onContinueClicked()">
        <mat-icon svgIcon='reply'></mat-icon>
      </button>
      <button [@actionAnimation]="state"
              mat-icon-button
              class="action"
              matTooltip="Postpone"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="'250'"
              [disableRipple]="true"
              (click)="select.open()">
        <mat-icon svgIcon='watch_later'></mat-icon>
      </button>
      <mat-select #select class="typeSelect">
        <mat-option (click)="onPostponeClicked('later')">Later (8:00pm)</mat-option>
        <mat-option (click)="onPostponeClicked('tomorrow')">Tomorrow (8:00am)</mat-option>
        <mat-option (click)="onPostponeClicked('this_weekend')">This weekend (8:00am Sat)</mat-option>
        <mat-option (click)="onPostponeClicked('next_week')">Next week (8:00 Mon)</mat-option>
      </mat-select>
    </div>
    <!-- IF TASK COMPLETED -->
    <div *ngIf="task != null && task.completionDate != null && media > mediaType.MEDIUM" class="flexcontainer">
      <button [@actionAnimation]="state"
              mat-icon-button
              class="action"
              matTooltip="Re-open"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="'250'"
              [disableRipple]="true"
              (click)="onReopenClicked()">
        <mat-icon svgIcon='replay'></mat-icon>
      </button>
    </div>

    <!-- FILTER BUTTON -->
    <div *ngIf="media > mediaType.MEDIUM" class="flexcontainer">
      <button [@actionAnimation]="state"
              mat-icon-button
              class="action"
              matTooltip="Filter"
              [matTooltipPosition]="'above'"
              [matTooltipShowDelay]="'250'"
              [disableRipple]="true"
              (click)="onFilterClicked()">
        <mat-icon svgIcon='filter_list'></mat-icon>
      </button>
    </div>
  </div>
