@import '../../../../../theme';

.dialog {
  @media #{$mat-small} {
    width: 100%;
  }
  @media #{$mat-medium} {
    width: 600px;
  }
  @media #{$mat-large} {
    width: 600px;
  }
}

mat-dialog-actions {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}

.label {
  color: rgba(0, 0, 0, .54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  top: 1.28125em;
  font-weight: 400;
  line-height: 1.125;
  left: 0;
  text-align: left;
  margin-bottom: 10px;
}

.wide-box {
  display: block !important;
  width: 100%;
}
