<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <app-tasklet-dialog-header
        [tasklet]="tasklet"
        [projects]="projects"></app-tasklet-dialog-header>
      <app-tasklet-dialog-topic
        [tasklet]="tasklet"
        [taskOptions]="taskOptions" *ngIf="tasklet.type == 'Action'
                                       || tasklet.type == 'Meeting'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'
                                       || tasklet.type == 'Development'
                                       || tasklet.type == 'Debugging'
                                       || tasklet.type == 'Idea'
                                       || tasklet.type == 'TODO'">
      </app-tasklet-dialog-topic>
      <app-tasklet-dialog-content
        [tasklet]="tasklet" [previousText]="previousText" *ngIf="tasklet.type == 'Action'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Meeting'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'
                                       || tasklet.type == 'Development'
                                       || tasklet.type == 'Debugging'
                                       || tasklet.type == 'Idea'
                                       || tasklet.type == 'TODO'"></app-tasklet-dialog-content>
      <app-tasklet-dialog-todo
        [tasklet]="tasklet" *ngIf="tasklet.type == 'TODO'"
        (onHourSelectedEmitter)="onDueHourSelected($event)"
        (onMinuteSelectedEmitter)="onDueMinuteSelected($event)"></app-tasklet-dialog-todo>
      <app-tasklet-dialog-participants
        [tasklet]="tasklet" *ngIf="tasklet.type == 'Meeting'
                                       || tasklet.type == 'Call'
                                       || tasklet.type == 'Mail'
                                       || tasklet.type == 'Chat'">
      </app-tasklet-dialog-participants>
      <app-tasklet-dialog-daily-scrum
        [tasklet]="tasklet" *ngIf="tasklet.type == 'Daily Scrum'"></app-tasklet-dialog-daily-scrum>
      <app-tasklet-dialog-tags
        [tasklet]="tasklet"
        [tags]="tags"
        [newTags]="newTags" *ngIf="tasklet.type == 'Action'
                               || tasklet.type == 'Meeting'
                               || tasklet.type == 'Call'
                               || tasklet.type == 'Mail'
                               || tasklet.type == 'Chat'
                               || tasklet.type == 'Development'
                               || tasklet.type == 'Debugging'
                               || tasklet.type == 'Idea'
                               || tasklet.type == 'TODO'">
      </app-tasklet-dialog-tags>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]=null>
      Cancel
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" (click)="addTasklet()" [disabled]="!formCtrl.form.valid
        && tasklet.type != 'Lunch Break'
        && tasklet.type != 'Finishing Time'">
      Add tasklet
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" (click)="updateTasklet()" [disabled]="!formCtrl.form.valid
        && tasklet.type != 'Lunch Break'
        && tasklet.type != 'Finishing Time'">
      Update tasklet
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.CONTINUE" (click)="continueTasklet()"
            [disabled]="!formCtrl.form.valid">
      Continue tasklet
    </button>
  </mat-dialog-actions>
</div>
