<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="text"></mat-icon>
      Text
    </ng-template>
    <mat-form-field color="primary" class="wide-box">
        <textarea matInput
                  matTextareaAutosize
                  name="description"
                  [placeholder]="placeholder"
                  matAutosizeMinRows="3"
                  matAutosizeMaxRows="12"
                  [(ngModel)]="text"
                  [disabled]="readonly"
                  (change)="onTextChanged()">
        </textarea>
      <button
        *ngIf="text"
        mat-button
        mat-icon-button
        matSuffix
        aria-label="Clear"
        type="button"
        title=''
        (click)="onClearButtonClicked()">
        <mat-icon svgIcon="close_18"></mat-icon>
      </button>
    </mat-form-field>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="markdown"></mat-icon>
      Preview
    </ng-template>
    <app-markdown-preview [markdownText]="text"></app-markdown-preview>
  </mat-tab>
</mat-tab-group>
