<mat-card (click)="updateTasklet()">

  <mat-card-header>
    <div [ngSwitch]="tasklet.type" style="float: left;">
      <mat-icon *ngSwitchCase="'Action'" svgIcon="assistant"></mat-icon>
      <mat-icon *ngSwitchCase="'Meeting'" svgIcon="people"></mat-icon>
      <mat-icon *ngSwitchCase="'Call'" svgIcon="call"></mat-icon>
      <mat-icon *ngSwitchCase="'Mail'" svgIcon="mail"></mat-icon>
      <mat-icon *ngSwitchCase="'Chat'" svgIcon="chat"></mat-icon>
      <mat-icon *ngSwitchCase="'Development'" svgIcon="code"></mat-icon>
      <mat-icon *ngSwitchCase="'Debugging'" svgIcon="bug"></mat-icon>
      <mat-icon *ngSwitchCase="'TODO'" svgIcon="timer"></mat-icon>
      <mat-icon *ngSwitchCase="'Finishing time'" svgIcon="run"></mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item class="text" *ngFor="let item of tasklet.text.split('\n')">{{ item.trim() }}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions align="right">
  </mat-card-actions>
  <div *ngIf="tasklet.creationDate != null" class="left-attached">{{ time }}</div>
</mat-card>
