<div class="container" [matMenuTriggerFor]="contextMenu" #contextMenuTrigger
     (mouseenter)="onHoverContainer(true)"
     (mouseleave)="onHoverContainer(false)">
  <mat-menu #contextMenu="matMenu">
    <button mat-menu-item (click)="onActionFired('update-task')">Update task</button>
    <button mat-menu-item (click)="onActionFired('complete-task')" *ngIf="task.completionDate == null"
            class="action-buttons">Complete task
    </button>
    <button mat-menu-item (click)="onActionFired('continue-task')" *ngIf="task.completionDate == null"
            class="action-buttons">Continue task
    </button>
    <button mat-menu-item (click)="onActionFired('reopen-task')" *ngIf="task.completionDate != null"
            class="action-buttons">Re-open task
    </button>
  </mat-menu>
  <button mat-button class="task flex" (click)="onActionFired('task')" disabled="media < mediaType.LARGE">
    <span>{{ task.name }}</span>
    <span [@actionAnimation]="state"
          *ngIf="task.effort > 0" class="effort">
      ( <span *ngIf="taskDigest != null && taskDigest.effort > 0">{{ taskDigest.effort }} / </span>{{ task.effort * 60 }} min)
    </span>
  </button>
  <div *ngIf="task.completionDate == null && media > mediaType.MEDIUM" class="action-buttons">
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Complete"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="onActionFired('complete-task')">
      <mat-icon svgIcon='check'></mat-icon>
    </button>
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Continue"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="onActionFired('continue-task')">
      <mat-icon svgIcon='reply'></mat-icon>
    </button>
  </div>
  <div *ngIf="task.completionDate != null && media > mediaType.MEDIUM" class="action-buttons">
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Re-open"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="onActionFired('reopen-task')">
      <mat-icon svgIcon='replay'></mat-icon>
    </button>
  </div>
</div>
