<div class="container"
     (mouseenter)="onHoverContainer(true)"
     (mouseleave)="onHoverContainer(false)">
  <button mat-button class="task flex" (click)="updateTask()">
    <span>{{ task.name }}</span>
    <span [@actionAnimation]="state"
          *ngIf="task.effort > 0" class="effort">
      ( <span *ngIf="taskDigest != null && taskDigest.effort > 0">{{ taskDigest.effort }} / </span>{{ task.effort * 60 }} min)
    </span>
  </button>
  <div *ngIf="task.completionDate == null" class="action-buttons">
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Complete"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="completeTask()">
      <mat-icon svgIcon='check'></mat-icon>
    </button>
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Continue"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="continueTask()">
      <mat-icon svgIcon='reply'></mat-icon>
    </button>
  </div>
  <div *ngIf="task.completionDate != null" class="action-buttons">
    <button [@actionAnimation]="state"
            mat-icon-button
            matTooltip="Re-open"
            matTooltipPosition="above"
            matTooltipShowDelay="250"
            class="action"
            [disableRipple]="true"
            (click)="reopenTask()">
      <mat-icon svgIcon='replay'></mat-icon>
    </button>
  </div>
</div>
