@import '~@angular/material/theming';
@include mat-core();

.container {
  display: flex;
  width: 100%;
}

.flex-box {
  display: flex;
}

.flex {
  flex-grow: 1;
}

.task {
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.effort {
  color: mat-color($mat-grey, 500);
}

.action{
  margin-left: 8px;
}

.action-buttons {
  min-width: 65px;
}

