<app-tasklet-list-item *ngFor="let t of tasklets"
                       inViewport
                       [tasklet]="t" [media]="media"
                       [taskletsMap]="taskletsMap" [tasksMap]="tasksMap" [projectsMap]="projectsMap"
                       [tagsMap]="tagsMap" [personsMap]="personsMap"
                       [inViewportOptions]="{ threshold: [0] }"
                       (taskletEventEmitter)="onTaskletEvent($event)"
                       (inViewportAction)="onIntersection(t)">
</app-tasklet-list-item>
