<app-tasklet-list-item *ngFor="let t of tasklets; let last = last"
                       #taskletsList
                       inViewport
                       [tasklet]="t" [media]="media"
                       [taskletsMap]="taskletsMap" [tasksMap]="tasksMap" [projectsMap]="projectsMap"
                       [tagsMap]="tagsMap" [personsMap]="personsMap"
                       [inViewportOptions]="{ threshold: [0] }"
                       (taskletEventEmitter)="onTaskletEvent($event)"
                       (inViewportAction)="onIntersection(t)">
</app-tasklet-list-item>

<div *ngIf="tasklets != null && tasklets.length == 0" class="placeholder-container">
  <button mat-flat-button class="placeholder" (click)="onPlaceholderClicked()">
    <div class="placeholder-title">Wanna get started?</div>
    There are no tasklets in your timeline yet. Click here to begin with your first tasklet
  </button>
</div>
