<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <mat-form-field color="primary">
        <mat-select name="type" placeholder="Tasklet Type" [(ngModel)]="tasklet.type">
          <mat-option *ngFor="let item of taskletTypes" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="wide-box" color="primary">
        <input matInput name="task" type="text" placeholder="Task" [formControl]="formControl"
               [(ngModel)]="tasklet.taskName"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredTaskOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div [ngSwitch]="tasklet.type">
        <app-tasklet-dialog-todo [tasklet]="tasklet" *ngSwitchCase="'TODO'"
                                 (onHourSelectedEmitter)="onDueHourSelected($event)"
                                 (onMinuteSelectedEmitter)="onDueMinuteSelected($event)">
        </app-tasklet-dialog-todo>
        <app-tasklet-dialog-default [tasklet]=" tasklet
        " *ngSwitchDefault=""></app-tasklet-dialog-default>
      </div>
    </form>
    <div class="label">Tags</div>
    <div class="single-column" *ngFor="let t of existingTags">
      <mat-checkbox [(ngModel)]=t.checked>{{ t.value}}</mat-checkbox>
    </div>
    <div class="double-column" *ngFor="let t of existingTags.slice(0, existingTags.length / 2)">
      <mat-checkbox [(ngModel)]=t.checked>{{ t.value}}</mat-checkbox>
    </div>
    <div class="double-column" *ngFor="let t of existingTags.slice(existingTags.length / 2, existingTags.length)">
      <mat-checkbox [(ngModel)]=t.checked>{{ t.value}}</mat-checkbox>
    </div>
    <div *ngFor="let n of newTags">
      <mat-checkbox [(ngModel)]=n.checked>
        <input matInput class="tag-input" type="text" name="tag" placeholder="New tag" [(ngModel)]="n.value"
               (ngModelChange)="tagChanged()"/>
      </mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]=null>
      Cancel
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" [disabled]="!formCtrl.form.valid" (click)="addTasklet()">Add
      tasklet
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" [disabled]="!formCtrl.form.valid" (click)="updateTasklet()">
      Update
      tasklet
    </button>
  </mat-dialog-actions>
</div>
