<div class="dialog">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <mat-form-field>
        <mat-select name="type" placeholder="Tasklet Type" [(ngModel)]="tasklet.type" (change)="typeSelected($event)">
          <mat-option *ngFor="let item of taskletTypes" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div [ngSwitch]="tasklet.type">
        <app-tasklet-dialog-todo [tasklet]="tasklet" *ngSwitchCase="'TODO'"></app-tasklet-dialog-todo>
        <app-tasklet-dialog-default [tasklet]="tasklet" *ngSwitchDefault=""></app-tasklet-dialog-default>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]=null>
      Cancel
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.ADD" [disabled]="!formCtrl.form.valid" (click)="addTasklet()">Add
      tasklet
    </button>
    <button mat-button *ngIf="mode == DIALOG_MODE.UPDATE" [disabled]="!formCtrl.form.valid" (click)="updateTasklet()">
      Update
      tasklet
    </button>
  </mat-dialog-actions>
</div>
