@import '~@angular/material/theming';

$dark-primary: mat-palette($mat-grey, 700, 800, 900);
$dark-accent: mat-palette($mat-amber, 50, 100, 200);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

