// Theme
@import '~@angular/material/theming';

@include mat-core();
@import 'theme.scss';
@import 'sizes.scss';

.light-theme {
  @include angular-material-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}

// Rest

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  height: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

$background: #fafafa;

body {
  height: 100%;
  background: $background;
  color: mat-color($mat-grey, 600);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.debug {
  color: mat-color($mat-grey, 400);
}

.white-icon svg {
  fill: white;
}

.light-theme {
  .icon-accent-contrast svg {
    fill: mat-contrast($light-accent, 500);
  }
}

.dark-theme {
  .icon-accent-contrast svg {
    fill: mat-contrast($dark-accent, 500);
  }
}

app-root {
  display: block;
  height: 100%;

  flex: 1;
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: visible !important;
}

.mat-toolbar {
  min-height: 56px !important;
}

.mat-toolbar-row {
  height: 56px !important;
}

.mat-toolbar .mat-form-field-underline, .mat-toolbar .mat-form-field-ripple, .mat-toolbar .mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

mat-toolbar .mat-form-field-infix {
  border-top: 0 !important;
  padding: 0.5em 0;
}

mat-dialog-container {
  @media #{$breakpoint-small} {
    width: 100%;
  }
  @media #{$breakpoint-medium} {
    width: 100% !important;
  }
  @media #{$breakpoint-large} {
    width: 750px !important;
  }
}

mat-icon {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
  display: block;
  height: inherit !important;
}

mat-list-item.text > .mat-list-item-content {
  height: inherit !important;
}

@media (max-width: 600px) {
  .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    min-width: 0 !important;
  }
}

.mat-ripple-element {
  background-color: rgba(84, 110, 122, .4) !important;
}

.mat-drawer-side {
  border-left: transparent !important;
  border-right: transparent !important;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

app-markdown-preview p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
