// Theme
@import '~@angular/material/theming';

@include mat-core();
@import 'theme.scss';
@import 'sizes.scss';

.app-theme {
  @include angular-material-theme($app-theme);
}

// Rest

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  height: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

body {
  height: 100%;
  background: #f7f7f7;
  color: #808080;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.white-icon svg {
  fill: white;
}

app-root {
  display: block;
  height: 100%;

  flex: 1;
}

.mat-toolbar {
  min-height: 56px !important;
}

.mat-toolbar-row {
  height: 56px !important;
}

.app-theme .mat-toolbar .mat-form-field-underline, .app-theme .mat-toolbar .mat-form-field-ripple, .app-theme .mat-toolbar .mat-focused .mat-form-field-ripple {
  background-color: transparent !important;
}

mat-toolbar .mat-form-field-infix {
  border-top: 0 !important;
  padding: 0.5em 0;
}

mat-dialog-container {
  @media #{$mat-small} {
    width: 100%;
  }
  @media #{$mat-medium} {
    width: 500px !important;
  }
  @media #{$mat-large} {
    width: 750px !important;
  }
}

mat-icon {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
  display: block;
  height: inherit !important;
}

mat-list-item.text > .mat-list-item-content {
  height: inherit !important;
}

@media (max-width: 600px) {
  .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    min-width: 0 !important;
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(84, 110, 122) !important;
}

.mat-ripple-element {
  background-color: rgba(84, 110, 122, .4) !important;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(https://fonts.gstatic.com/s/googlesans/v5/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
