@import '~@angular/material/theming';

$app-primary: mat-palette($mat-blue-grey, 700, 800, 900);
$app-accent: mat-palette($mat-teal, 500, 600, 700);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

