<div class="flexcontainer container">
  <app-suggested-action-button *ngFor="let suggestedAction of suggestedActions"
                               [backgroundColor]="suggestedAction.backgroundColor"
                               [iconColor]="suggestedAction.iconColor"
                               [icon]="suggestedAction.icon"
                               [label]="suggestedAction.label"
                               [matTooltip]="suggestedAction.tooltip"
                               [matTooltipPosition]="'below'"
                               [matTooltipShowDelay]="'250'"
                               (buttonClickedEmitter)="onDynamicSuggestedActionClicked(suggestedAction.task)">
  </app-suggested-action-button>

  <div class="flexbox"></div>
  <mat-divider vertical="true"></mat-divider>

  <app-suggested-action-button *ngFor="let staticSuggestedAction of staticSuggestedActions"
                               [backgroundColor]="staticSuggestedAction.backgroundColor"
                               [iconColor]="staticSuggestedAction.iconColor"
                               [icon]="staticSuggestedAction.icon"
                               [label]="staticSuggestedAction.label"
                               (buttonClickedEmitter)="onStaticSuggestedActionClicked(staticSuggestedAction.taskletType)">
  </app-suggested-action-button>
</div>
