<!-- Pomodoro task -->
<div *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_POMODORO_TASK, tasklet)" class="text pomodoro-task">
  <app-markdown-preview
    [markdownText]="tasklet.pomodoroTask.value"></app-markdown-preview>
  <mat-divider class="pomodoro-divider"></mat-divider>
</div>

<!-- Description -->
<div *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_DESCRIPTION, tasklet)"
     class="text">
  <app-markdown-preview
    *ngIf="tasklet.description.value != ''"
    [markdownText]="tasklet.description.value"></app-markdown-preview>
  <div *ngIf="tasklet.description.value == ''" class="placeholder-description">
    {{ placeholderDescription }}
  </div>
</div>

<!-- Meeting minutes -->
<div *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_MEETING_MINUTES, tasklet)">
  <app-tasklet-meeting-minutes-fragment [tasklet]="tasklet">
  </app-tasklet-meeting-minutes-fragment>
  <div *ngIf="tasklet.meetingMinuteItems.length === 0" class="placeholder-meetingminutes">
    {{ placeholderMeetingMinutes }}
  </div>
</div>

<!-- Daily Scrum -->
<div *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_DAILY_SCRUM, tasklet)">
  <app-tasklet-daily-scrum-fragment [tasklet]="tasklet">
  </app-tasklet-daily-scrum-fragment>
  <div *ngIf="tasklet.dailyScrumItems.length === 0" class="placeholder-dailyscrum">
    {{ placeholderDailyScrum }}
  </div>
</div>

<!-- Checklist -->
<div *ngIf="containsDisplayAspect(displayAspectType.CONTAINS_CHECKLIST, tasklet)">
  <app-completable-list
    [items]="tasklet.acceptanceCriteria"
    [readonly]=true>
  </app-completable-list>
</div>
