<div (keydown)="onKeyDown($event)">
  <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  <mat-dialog-content>
    <form #formCtrl="ngForm">
      <div>
        <mat-form-field class="wide-box">
          <input matInput required name="tag" type="text" placeholder="Tag" ngControl="controlTag"
                 [disabled]="readonly"
                 [(ngModel)]="tag.name">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" *ngIf="mode == modeType.UPDATE" (click)="deleteTag()">
      Delete tag
    </button>
    <div class="flexbox"></div>
    <button mat-button *ngIf="mode == modeType.ADD" (click)="addTag()" [disabled]="!formCtrl.form.valid">
      Add tag
    </button>
    <button mat-button *ngIf="mode == modeType.UPDATE" (click)="updateTag()" [disabled]="!formCtrl.form.valid">
      Update tag
    </button>
  </mat-dialog-actions>
</div>
