@import '../../../../../sizes';
@import '../../../../../flex';
@import '../../../../../theme';

.main {
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: transparent;
  width: 350px;

  @media #{$breakpoint-small} {
    padding: 88px 20px;
  }
  @media #{$breakpoint-medium} {
    padding: 88px 20px;
  }
  @media #{$breakpoint-large} {
    padding: 88px 20px;
  }
}

.sidenav-start {
  @media #{$breakpoint-small} {
    margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    margin-right: 40px;
  }
}

.sidenav-end {
  @media #{$breakpoint-small} {
    margin-left: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-left: 20px;
  }
  @media #{$breakpoint-large} {
    margin-left: 40px;
  }
}

.content {
  @media #{$breakpoint-small} {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    padding: 20px;
    margin: 50px auto;
    width: 450px;
  }
  @media #{$breakpoint-large} {
    margin: 65px auto;
    width: 450px;
  }
}

// Task

.task {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8em;
}

// Tags

.light-theme {
  .tag {
    background: mat-color($mat-grey, 200) !important;
    color: mat-contrast($mat-grey, 200) !important;
  }
}

.dark-theme {
  .tag {
    background: mat-color($mat-grey, 400) !important;
    color: mat-contrast($mat-grey, 400) !important;
  }
}

.tag {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 6px 6px 0 0;
  direction: ltr;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  float: left;
  align-items: center;
  height: 18px;
  padding: 3px 5px;
  text-align: left;
}

.tag-label {
  padding: 1px;
}

.label {
  display: block;
  color: mat-color($mat-grey, 400);
  padding-bottom: 5px;
  font-size: 75%;
  /*-webkit-transform: translateX(-20%) scale(.75);
  transform: translateX(-12%) scale(.75);
  width: 133.33333%;*/
}

.tags-holder {
  padding: 0 24px 24px;
}

.tag-area {
  margin-top: 20px;
}

// Buttons

.button-area {
  margin-top: 20px;
}
