@import '../../../../../sizes';
@import '../../../../../flex';
@import '../../../../../theme';

.main {
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: transparent;
  width: 350px;
}

.sidenav-inner-container {
  padding-top: 88px !important;
}

.sidenav-start {
  @media #{$breakpoint-small} {
    margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    margin-right: 40px;
  }
}

.sidenav-end {
  @media #{$breakpoint-small} {
    margin-left: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-left: 20px;
  }
  @media #{$breakpoint-large} {
    margin-left: 40px;
  }
}

.content {
  @media #{$breakpoint-small} {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    padding: 20px;
    margin: 50px auto;
    width: 450px;
  }
  @media #{$breakpoint-large} {
    margin: 65px auto;
    width: 600px;
  }
}

.header {
  @media #{$breakpoint-small} {
    margin-bottom: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-bottom: 20px;
  }
  @media #{$breakpoint-large} {
    margin-bottom: 65px;
  }
}

.tasklet-previous {
  margin-top: 18px;
  margin-bottom: 18px;
}

.header-buttons {
  height: 50px;

  .icon-wrapper {
    text-align: center;
    width: 100%;
    display: flex;

    .more {
      margin: 0 auto;

      mat-icon {
        fill: mat-color($mat-grey, 400);
      }
    }
  }

  .button-wrapper {
    display: none;
    color: mat-color($mat-grey, 500);
  }

  &:hover {
    .icon-wrapper {
      display: none;
    }
    .button-wrapper {
      display: flex;
    }
  }
}

$overlay-color: mat-color($mat-grey, 50);

.overlay-buttons {
  height: 50px;

  .icon-wrapper {
    text-align: center;
    width: 100%;
    display: flex;

    .more {
      margin: 0 auto;

      mat-icon {
        fill: $overlay-color;
      }
    }
  }

  .button-wrapper {
    display: none;
    color: $overlay-color;
  }

  &:hover {
    .icon-wrapper {
      display: none;
    }
    .button-wrapper {
      display: flex;
    }
  }
}

.footer {
  @media #{$breakpoint-small} {
    margin-top: 10px;
  }
  @media #{$breakpoint-medium} {
    margin-top: 20px;
  }
  @media #{$breakpoint-large} {
    margin-top: 65px;
  }
}

.footer-buttons {
  height: 50px;

  .icon-wrapper {
    text-align: center;
    width: 100%;
    display: block;

    .more {
      margin: 0 auto;

      mat-icon {
        fill: mat-color($mat-grey, 400);
      }
    }
  }

  .button-wrapper {
    display: none;
    color: mat-color($mat-grey, 500);
  }

  &:hover {
    .icon-wrapper {
      display: none;
    }
    .button-wrapper {
      display: flex;
    }
  }
}

// Tasklet type

.tasklet-type {
  margin-right: 15px;
  margin-top: 5px;
}

// Task

.task {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8em;
}

// Pomodoro timer

.pomodoro-timer {
  margin-left: 15px;
  margin-top: 5px;
}

// Tags

.light-theme {
  .tag {
    background: mat-color($mat-grey, 200) !important;
    color: mat-contrast($mat-grey, 200) !important;
  }
}

.dark-theme {
  .tag {
    background: mat-color($mat-grey, 400) !important;
    color: mat-contrast($mat-grey, 400) !important;
  }
}

.tag {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 6px 6px 0 0;
  direction: ltr;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  float: left;
  align-items: center;
  height: 18px;
  padding: 3px 5px;
  text-align: left;
}

.tag-label {
  padding: 1px;
}

.label {
  display: block;
  color: mat-color($mat-grey, 400);
  padding-bottom: 5px;
  font-size: 75%;
  /*-webkit-transform: translateX(-20%) scale(.75);
  transform: translateX(-12%) scale(.75);
  width: 133.33333%;*/
}

.tags-holder {
  padding: 0 24px 24px;
}

.tag-area {
  margin-top: 20px;
}

// Tasklet action button

::ng-deep .typeSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .typeSelect.mat-select {
  display: inline;
  width: 1px;
}

//
// Overlay
//

.overlay {
  background: url('./../../../../../../src/assets/images/basalt.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Position the content inside the overlay */
.overlay-content {
  color: $overlay-color;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 4em;
}
