<div class="participant">
  <mat-form-field color="primary" class="person">
    <mat-select name="type" placeholder="Participant" [(ngModel)]="dailyScrumParticipant.person.name"
                (change)="onPersonSelected()">
      <mat-option *ngFor="let item of existingPersons" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flexbox"></div>
  <div class="activities">
    <app-tasklet-dialog-daily-scrum-activity *ngFor="let a of dailyScrumParticipant.activities"
                                             [person]="dailyScrumParticipant.person"
                                             [dailyScrumActivity]="a"
                                             (onActivityEmitter)="onActivityEdited($event)">
    </app-tasklet-dialog-daily-scrum-activity>
  </div>
</div>
