<mat-card-header (click)="onActionFired.next('update')">
  <mat-icon [svgIcon]=icon class="tasklet-type"></mat-icon>
  {{ tasklet.taskName }}
  <div class="flexbox"></div>
  <div class="project"
       [style.background-color]="projectColor"
       *ngIf="tasklet.project != null && tasklet.project !=''">
    {{ tasklet.project }}
  </div>
</mat-card-header>
<mat-card-content [ngSwitch]="tasklet.type" (click)="onActionFired.next('update')">
  <mat-list>
    <mat-list-item class="text" *ngFor="let item of tasklet.text.split('\n')">{{ item.trim() }}</mat-list-item>
  </mat-list>
</mat-card-content>
<!--
<mat-card-actions align="right">
</mat-card-actions>
-->
